In [ ]:
import pandas as pd

# Data Inflasi

In [ ]:
df = pd.read_excel('data/Data Inflasi (2000-2025).xlsx')

In [ ]:
df

In [ ]:
df = df.iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 0', 'Unnamed: 3'])

In [ ]:
df = df.rename(columns={'Unnamed: 1': 'Tahun', 'Unnamed: 2': 'Inflation Percentage'})

In [ ]:
df

In [ ]:
# Split the Tahun column into Bulan and Tahun
df[['Bulan', 'Tahun']] = df['Tahun'].str.split(' ', expand=True)

In [ ]:
df

In [ ]:
df.to_csv('data-cleaned/inflation_data_cleaned.csv')

# Garis Kemiskinan Makanan

In [ ]:
data_makanan = {}

for tahun in range(2015, 2025):
    file = f"data/Garis Kemiskinan Makanan (Rupiah_Kapita_Bulan) Menurut Provinsi dan Daerah, {tahun}.csv"
    df_makanan = pd.read_csv(file)
    data_makanan[tahun] = df_makanan

In [ ]:
data_makanan[2015].head(10)

In [ ]:
for tahun in range(2015, 2025):
    data_makanan[tahun] = data_makanan[tahun].iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 3','Unnamed: 6','Unnamed: 9'])
    data_makanan[tahun] = data_makanan[tahun].rename(columns={'Unnamed: 1': 'Perkotaan Semester 1 (Maret)', 'Unnamed: 2': 'Perkotaan Semester 2 (September)',
                                                             'Unammed: 4':'Perdesaan Semester 1 (Maret)', 'Unnamed: 5':'Perdesaan Semester 2 (September)',
                                                             'Unnamed: 7':'Perkotaan+Perdesaan Semester 1 (Maret)', 'Unnamed: 8':'Perkotaan+Perdesaan Semester 2 (September)'})
    data_makanan[tahun]['Tahun'] = tahun

In [ ]:
data_makanan[2024].head(10)

In [ ]:
Data_makanan = pd.concat([data_makanan[tahun] for tahun in range(2015, 2025)],ignore_index = True)
Data_makanan

In [ ]:
Data_makanan.to_csv('data-cleaned/Garis_Kemiskinan_Makanan_cleaned.csv')

# Garis Kemiskinan Non-Makanan

In [ ]:
data_nonmakanan = {}

for tahun in range(2015, 2025):
    file = f"data/Garis Kemiskinan Non-Makanan (Rupiah_Kapita_Bulan) Menurut Provinsi dan Daerah, {tahun}.csv"
    df_nonmakanan = pd.read_csv(file)
    data_nonmakanan[tahun] = df_nonmakanan

In [ ]:
data_nonmakanan[2015].head(10)

In [ ]:
for tahun in range(2015, 2025):
    data_nonmakanan[tahun] = data_nonmakanan[tahun].iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 3','Unnamed: 6','Unnamed: 9'])
    data_nonmakanan[tahun] = data_nonmakanan[tahun].rename(columns={'Unnamed: 1': 'Perkotaan Semester 1 (Maret)', 'Unnamed: 2': 'Perkotaan Semester 2 (September)',
                                                             'Unammed: 4':'Perdesaan Semester 1 (Maret)', 'Unnamed: 5':'Perdesaan Semester 2 (September)',
                                                             'Unnamed: 7':'Perkotaan+Perdesaan Semester 1 (Maret)', 'Unnamed: 8':'Perkotaan+Perdesaan Semester 2 (September)'})
    data_nonmakanan[tahun]['Tahun'] = tahun

In [ ]:
data_nonmakanan[2024].head(10)

In [ ]:
Data_nonmakanan = pd.concat([data_nonmakanan[tahun] for tahun in range(2015, 2025)],ignore_index = True)
Data_nonmakanan

In [ ]:
Data_nonmakanan.to_csv('data-cleaned/Garis_Kemiskinan_Non-Makanan_cleaned.csv')

In [ ]:
Data_makanan.isnull().sum()

In [ ]:
Data_nonmakanan.isnull().sum()