In [1]:
import pandas as pd

# Data Inflasi

In [2]:
df = pd.read_excel('data/Data Inflasi (2000-2025).xlsx')

In [3]:
df

       Unnamed: 0     Unnamed: 1    Unnamed: 2    Unnamed: 3
0             NaN            NaN           NaN           NaN
1    Data Inflasi   Data Inflasi  Data Inflasi  Data Inflasi
2             NaN            NaN           NaN           NaN
3              No        Periode  Data Inflasi           NaN
4               1     Maret 2025        1.03 %           NaN
..            ...            ...           ...           ...
267           264     April 2003        7.62 %           NaN
268           265     Maret 2003        7.17 %           NaN
269           266  Februari 2003         7.6 %           NaN
270           267   Januari 2003        8.68 %           NaN
271           268  Desember 2002           0 %           NaN

[272 rows x 4 columns]

In [4]:
df = df.iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 0', 'Unnamed: 3'])

In [5]:
df = df.rename(columns={'Unnamed: 1': 'Tahun', 'Unnamed: 2': 'Inflation Percentage'})

In [6]:
df

             Tahun Inflation Percentage
0       Maret 2025               1.03 %
1    Februari 2025              -0.09 %
2     Januari 2025               0.76 %
3    Desember 2024               1.57 %
4    November 2024               1.55 %
..             ...                  ...
263     April 2003               7.62 %
264     Maret 2003               7.17 %
265  Februari 2003                7.6 %
266   Januari 2003               8.68 %
267  Desember 2002                  0 %

[268 rows x 2 columns]

In [7]:
# Split the Tahun column into Bulan and Tahun
df[['Bulan', 'Tahun']] = df['Tahun'].str.split(' ', expand=True)

In [8]:
df

    Tahun Inflation Percentage     Bulan
0    2025               1.03 %     Maret
1    2025              -0.09 %  Februari
2    2025               0.76 %   Januari
3    2024               1.57 %  Desember
4    2024               1.55 %  November
..    ...                  ...       ...
263  2003               7.62 %     April
264  2003               7.17 %     Maret
265  2003                7.6 %  Februari
266  2003               8.68 %   Januari
267  2002                  0 %  Desember

[268 rows x 3 columns]

In [9]:
df.to_csv('data-cleaned/inflation_data_cleaned.csv')

# Data Clean UMP

In [81]:
import pandas as pd
import numpy as np

def load_ump_data(start_year: int, end_year: int, folder: str = "data") -> pd.DataFrame:
    """
    Loads and cleans ump data from a CSV file with the given year range.

    Parameters:
        start_year (int): The first year in the range (inclusive).
        end_year (int): The last year in the range (inclusive).
        folder (str): Path to the folder where the CSV file is stored.

    Returns:
        pd.DataFrame: Cleaned DataFrame with numeric UMR values.
    """
    # Generate list of years
    year = list(range(start_year, end_year + 1))
    
    # Build the filename
    filename = f"{folder}/Upah Minimum Regional_Propinsi, {year[0]}-{year[-1]}.csv"

    # Read and clean the data
    df = pd.read_csv(filename)
    df = df.iloc[2:].reset_index(drop=True)

    # Rename columns
    column_renames = {'38 Provinsi': 'Provinsi'}
    for i, y in enumerate(year):
        column_renames[f'Unnamed: {i + 1}'] = y
    df.rename(columns=column_renames, inplace=True)

    # Replace "-" with NaN and convert to numeric
    df.replace("-", np.nan, inplace=True)
    for y in year:
        df[y] = pd.to_numeric(df[y], errors='coerce')

    # Fill missing values with the global mean
    global_mean = df[year].stack().mean()
    df[year] = df[year].fillna(global_mean)

    return df

In [98]:
import os
import pandas as pd
import numpy as np
import re

# Folder paths
raw_folder = "data"
clean_folder = "data-cleaned"

# Make sure the output folder exists
os.makedirs(clean_folder, exist_ok=True)

# Function to load and clean a single UMP file
def clean_umr_file(filepath, years):
    df = pd.read_csv(filepath)
    df = df.iloc[2:].reset_index(drop=True)

    # Rename columns
    column_renames = {'38 Provinsi': 'Provinsi'}
    for i, y in enumerate(years):
        column_renames[f'Unnamed: {i + 1}'] = str(y)
    df.rename(columns=column_renames, inplace=True)

    # Replace "-" with NaN and convert to numeric
    df.replace("-", np.nan, inplace=True)
    for y in years:
        df[str(y)] = pd.to_numeric(df[str(y)], errors='coerce')

    # Fill NaNs with global mean
    global_mean = df[[str(y) for y in years]].stack().mean()
    df[[str(y) for y in years]] = df[[str(y) for y in years]].fillna(global_mean)
    return df

# Loop through all CSV files in the data folder
for filename in os.listdir(raw_folder):
    match = re.search(r'(\d{4})-(\d{4})', filename)
    if match and filename.endswith(".csv"):
        start_year = int(match.group(1))
        end_year = int(match.group(2))

        # 👉 Skip if the file ends after 2014
        if end_year > 2014:
            continue

        years = list(range(start_year, end_year + 1))
        file_path = os.path.join(raw_folder, filename)
        cleaned_df = clean_umr_file(file_path, years)

        # Save cleaned DataFrame
        output_filename = f"UMP_{start_year}-{end_year}.csv"
        output_path = os.path.join(clean_folder, output_filename)
        cleaned_df.to_csv(output_path, index=False)
        print(f"✅ Saved cleaned file to: {output_path}")

✅ Saved cleaned file to: data-cleaned\UMP_2000-2002.csv
✅ Saved cleaned file to: data-cleaned\UMP_2003-2005.csv
✅ Saved cleaned file to: data-cleaned\UMP_2006-2008.csv
✅ Saved cleaned file to: data-cleaned\UMP_2009-2011.csv
✅ Saved cleaned file to: data-cleaned\UMP_2012-2014.csv

In [105]:
filename = 'data/Upah Minimum Regional_Propinsi, 2015-2018.csv'
year = [2015,2016,2018]
df = pd.read_csv(filename)
df

,38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,NaN,Upah Minimum Regional/Propinsi (Rupiah),NaN,NaN
1,NaN,2015,2016,2018
2,ACEH,1900000,2118500,2700000
3,SUMATERA UTARA,1625000,1811875,2132189
4,SUMATERA BARAT,1615000,1800725,2119067
5,RIAU,1878000,2095000,2464154
6,JAMBI,1710000,1906650,2243719
7,SUMATERA SELATAN,1974346,2206000,2595995
8,BENGKULU,1500000,1605000,1888741
9,LAMPUNG,1581000,1763000,2074673
10,KEP. BANGKA BELITUNG,2100000,2341500,2755444
11,KEP. RIAU,1954000,2178710,2563875
12,DKI JAKARTA,2700000,3100000,3648036
13,JAWA BARAT,1000000,2250000,1544361
14,JAWA TENGAH,910000,-,1486065
15,DI YOGYAKARTA,988500,-,1454154
16,JAWA TIMUR,1000000,-,1508895
17,BANTEN,1600000,1784000,2099385
18,BALI,1621172,1807600,2127157
19,NUSA TENGGARA BARAT,1330000,1482950,1825000
20,NUSA TENGGARA TIMUR,1250000,1425000,1660000
21,KALIMANTAN BARAT,1560000,1739400,2046900
22,KALIMANTAN TENGAH,1896367,2057558,2421305
23,KALIMANTAN SELATAN,1870000,2085050,2454671
24,KALIMANTAN TIMUR,2026126,2161253,2543332
25,KALIMANTAN UTARA,2026126,2175340,2559903
26,SULAWESI UTARA,2150000,2400000,2824286
27,SULAWESI TENGAH,1500000,1670000,1965232
28,SULAWESI SELATAN,2000000,2250000,2647767
29,SULAWESI TENGGARA,1652000,1850000,2177052
30,GORONTALO,1600000,1875000,2206813
31,SULAWESI BARAT,1655500,1864000,2193530
32,MALUKU,1650000,1775000,2222220
33,MALUKU UTARA,1577617,1681266,2320803
34,PAPUA BARAT,2015000,2237000,2667000
35,PAPUA BARAT DAYA,-,-,-
36,PAPUA,2193000,2435000,3000000
37,PAPUA SELATAN,-,-,-
38,PAPUA TENGAH,-,-,-
39,PAPUA PEGUNUNGAN,-,-,-
40,INDONESIA,1790342,1997819,2268874

In [106]:
df = pd.read_csv(filename)
df = df.iloc[2:].reset_index(drop=True)

    # Rename columns
column_renames = {'38 Provinsi': 'Provinsi'}
for i, y in enumerate(year):
    column_renames[f'Unnamed: {i + 1}'] = y
    df.rename(columns=column_renames, inplace=True)

    # Replace "-" with NaN and convert to numeric
df.replace("-", np.nan, inplace=True)
for y in year:
    df[y] = pd.to_numeric(df[y], errors='coerce')

    # Fill missing values with the global mean
global_mean = df[year].stack().mean()
df[year] = df[year].fillna(global_mean)

df.to_csv('data-cleaned/ump_2015-2018.csv')

In [102]:
filename = 'data/Upah Minimum Regional_Propinsi, 2019-2020.csv'
year = [2019, 2020]
df = pd.read_csv(filename)
df

             38 Provinsi                               Unnamed: 1 Unnamed: 2
0                    NaN  Upah Minimum Regional/Propinsi (Rupiah)        NaN
1                    NaN                                     2019       2020
2                   ACEH                                  2916810    3165031
3         SUMATERA UTARA                                  2303403    2499423
4         SUMATERA BARAT                                  2289220    2484041
5                   RIAU                                  2662026    2888564
6                  JAMBI                                  2423889    2630162
7       SUMATERA SELATAN                                  2804453    3043111
8               BENGKULU                                  2040407    2213604
9                LAMPUNG                                  2241270    2432002
10  KEP. BANGKA BELITUNG                                  2976706    3230024
11             KEP. RIAU                                  2769754    3005460
12           DKI JAKARTA                                  3940973    4276350
13            JAWA BARAT                                  1668373    1810351
14           JAWA TENGAH                                  1605396    1742015
15         DI YOGYAKARTA                                  1570923    1704608
16            JAWA TIMUR                                  1630059    1768777
17                BANTEN                                  2267990    2460997
18                  BALI                                  2297969    2494000
19   NUSA TENGGARA BARAT                                  2012610    2183883
20   NUSA TENGGARA TIMUR                                  1795000    1950000
21      KALIMANTAN BARAT                                  2211500    2399699
22     KALIMANTAN TENGAH                                  2663435    2903145
23    KALIMANTAN SELATAN                                  2651782    2877449
24      KALIMANTAN TIMUR                                  2747561    2981379
25      KALIMANTAN UTARA                                  2765463    3000804
26        SULAWESI UTARA                                  3051076    3310723
27       SULAWESI TENGAH                                  2123040    2303711
28      SULAWESI SELATAN                                  2860382    3103800
29     SULAWESI TENGGARA                                  2351870    2552015
30             GORONTALO                                  2384020    2788826
31        SULAWESI BARAT                                  2381000    2678863
32                MALUKU                                  2400664    2604961
33          MALUKU UTARA                                  2508091    2721530
34           PAPUA BARAT                                  2934500    3134600
35      PAPUA BARAT DAYA                                        -          -
36                 PAPUA                                  3240900    3516700
37         PAPUA SELATAN                                        -          -
38          PAPUA TENGAH                                        -          -
39      PAPUA PEGUNUNGAN                                        -          -
40             INDONESIA                                  2455662    2672371

In [104]:
df = pd.read_csv(filename)
df = df.iloc[2:].reset_index(drop=True)

    # Rename columns
column_renames = {'38 Provinsi': 'Provinsi'}
for i, y in enumerate(year):
    column_renames[f'Unnamed: {i + 1}'] = y
    df.rename(columns=column_renames, inplace=True)

    # Replace "-" with NaN and convert to numeric
df.replace("-", np.nan, inplace=True)
for y in year:
    df[y] = pd.to_numeric(df[y], errors='coerce')

    # Fill missing values with the global mean
global_mean = df[year].stack().mean()
df[year] = df[year].fillna(global_mean)

df.to_csv('data-cleaned/ump_2019-2020.csv')

In [109]:
import os
import pandas as pd

# Folder where the cleaned UMP files are stored
folder = "data-cleaned"

# List to store individual DataFrames
df_list = []

# Loop through files in folder
for file in os.listdir(folder):
    if file.lower().startswith("ump_") and file.endswith(".csv"):
        filepath = os.path.join(folder, file)
        df = pd.read_csv(filepath)
        df_list.append(df)

# Merge all DataFrames by columns
df_merged = pd.concat(df_list, axis=1)

# Remove duplicate 'Provinsi' columns caused by concat
# Keep the first and drop others
df_merged = df_merged.loc[:,~df_merged.columns.duplicated()]
df_merged.drop(columns=['Unnamed: 0'], inplace=True)
# Save to a single CSV
df_merged.to_csv("data-cleaned/UMP_MERGED.csv", index=False)
print("✅ Merged file saved as: data-cleaned/UMP_MERGED.csv")

✅ Merged file saved as: data-cleaned/UMP_MERGED.csv

In [110]:
df_merged

,Provinsi,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2018,2019,2020
0,ACEH,265000.000000,300000.000000,330000.000000,425000.000000,550000.000000,620000.000000,820000.000000,850000.000000,1.000000e+06,...,1.300000e+06,1.350000e+06,1.400000e+06,1.550000e+06,1.750000e+06,1.900000e+06,2.118500e+06,2.700000e+06,2.916810e+06,3.165031e+06
1,SUMATERA UTARA,254000.000000,340500.000000,464000.000000,505000.000000,537000.000000,600000.000000,737794.000000,761000.000000,8.222050e+05,...,9.650000e+05,1.035500e+06,1.200000e+06,1.375000e+06,1.505850e+06,1.625000e+06,1.811875e+06,2.132189e+06,2.303403e+06,2.499423e+06
2,SUMATERA BARAT,200000.000000,250000.000000,385000.000000,435000.000000,480000.000000,540000.000000,650000.000000,725000.000000,8.000000e+05,...,9.400000e+05,1.055000e+06,1.150000e+06,1.350000e+06,1.490000e+06,1.615000e+06,1.800725e+06,2.119067e+06,2.289220e+06,2.484041e+06
3,RIAU,250700.000000,329000.000000,394000.000000,437500.000000,476900.000000,551500.000000,637000.000000,710000.000000,8.000000e+05,...,1.016000e+06,1.120000e+06,1.238000e+06,1.400000e+06,1.700000e+06,1.878000e+06,2.095000e+06,2.464154e+06,2.662026e+06,2.888564e+06
4,JAMBI,173000.000000,245000.000000,304000.000000,390000.000000,425000.000000,485000.000000,563000.000000,658000.000000,7.240000e+05,...,9.000000e+05,1.028000e+06,1.142500e+06,1.300000e+06,1.502300e+06,1.710000e+06,1.906650e+06,2.243719e+06,2.423889e+06,2.630162e+06
5,SUMATERA SELATAN,190000.000000,255000.000000,331500.000000,403500.000000,460000.000000,503700.000000,604000.000000,662000.000000,7.430000e+05,...,9.278250e+05,1.048440e+06,1.195220e+06,1.630000e+06,1.825000e+06,1.974346e+06,2.206000e+06,2.595995e+06,2.804453e+06,3.043111e+06
6,BENGKULU,173000.000000,240000.000000,295000.000000,330000.000000,363000.000000,430000.000000,516000.000000,644838.000000,6.900000e+05,...,7.800000e+05,8.150000e+05,9.300000e+05,1.200000e+06,1.350000e+06,1.500000e+06,1.605000e+06,1.888741e+06,2.040407e+06,2.213604e+06
7,LAMPUNG,192000.000000,240000.000000,310000.000000,350000.000000,377500.000000,405000.000000,505000.000000,555000.000000,6.170000e+05,...,7.675000e+05,8.550000e+05,9.750000e+05,1.150000e+06,1.399037e+06,1.581000e+06,1.763000e+06,2.074673e+06,2.241270e+06,2.432002e+06
8,KEP. BANGKA BELITUNG,190000.000000,255000.000000,345000.000000,379500.000000,447900.000000,560000.000000,640000.000000,720000.000000,8.130000e+05,...,9.100000e+05,1.024000e+06,1.110000e+06,1.265000e+06,1.640000e+06,2.100000e+06,2.341500e+06,2.755444e+06,2.976706e+06,3.230024e+06
9,KEP. RIAU,300000.000000,421500.000000,289146.315789,460809.553191,460809.553191,557000.000000,760000.000000,805000.000000,8.330000e+05,...,9.250000e+05,9.750000e+05,1.015000e+06,1.365087e+06,1.665000e+06,1.954000e+06,2.178710e+06,2.563875e+06,2.769754e+06,3.005460e+06
10,DKI JAKARTA,286000.000000,426300.000000,591300.000000,631600.000000,671600.000000,711843.000000,819100.000000,900560.000000,9.726040e+05,...,1.118009e+06,1.290000e+06,1.529150e+06,2.200000e+06,2.441000e+06,2.700000e+06,3.100000e+06,3.648036e+06,3.940973e+06,4.276350e+06
11,JAWA BARAT,230000.000000,245000.000000,280800.000000,320000.000000,366500.000000,408260.000000,447654.000000,516840.000000,5.681930e+05,...,6.715000e+05,7.320000e+05,7.800000e+05,8.500000e+05,1.000000e+06,1.000000e+06,2.250000e+06,1.544361e+06,1.668373e+06,1.810351e+06
12,JAWA TENGAH,185000.000000,245000.000000,314500.000000,340400.000000,365000.000000,390000.000000,450000.000000,500000.000000,5.470000e+05,...,6.600000e+05,6.750000e+05,7.650000e+05,8.300000e+05,9.100000e+05,9.100000e+05,1.987646e+06,1.486065e+06,1.605396e+06,1.742015e+06
13,DI YOGYAKARTA,194500.000000,237500.000000,321800.000000,360000.000000,365000.000000,400000.000000,460000.000000,500000.000000,5.860000e+05,...,7.456940e+05,8.080000e+05,8.926600e+05,9.471140e+05,9.885000e+05,9.885000e+05,1.987646e+06,1.454154e+06,1.570923e+06,1.704608e+06
14,JAWA TIMUR,214500.000000,220000.000000,245000.000000,274000.000000,310000.000000,340000.000000,390000.000000,448500.000000,5.000000e+05,...,6.300000e+05,7.050000e+05,7.450000e+05,8.662500e+05,1.000000e+06,1.000000e+06,1.987646e+06,1.508895e+06,1.630059e+06,1.768777e+06
15,BANTEN,230000.000000,245000.000000,360000.000000,475000.000000,515000.000000,585000.000000,661613.000000,746500.000000,8.370000e+05,...,9.553000e+05,1.000000e+06,1.042000e+06,1.170000e+06,1.325000e+06,1.600000e+06,1.784000e+06,2.099385e+06,2.267990e+06,2.460997e+06
16,BALI,214000.000000,309800.000000,341000.000000,410000.000000,425000.000000,447500.000000,510000.000000,622000.000000,6.826500e+05,...,8.293160e+05,8.900000e+05,9.675000e+05,1.181000e+06,1.542600e+06,1.621172e+06,1.807600e+06,2.127157e+06,2.297969e+06,2.494000e+06
17,NUSA TENGGARA BARAT,180000.000000,240000.000000,320000.000000,375000.000000,412500.000000,475000.000000,550000.000000,645000.000000,7.300000e+05,...,8.907750e+05,9.500000e+05,1.000000e+06,1.100000e+06,1.210000e+06,1.330000e+06,1.482950e+06,1.825000e+06,2.012610e+06,2.183883e+06
18,NUSA TENGGARA TIMUR,184000.000000,275000.000000,330000.000000,350000.000000,400000.000000,450000.000000,550000.000000,600000.000000,6.500000e+05,...,8.000000e+05,8.500000e+05,9.250000e+05,1.010000e+06,1.150000e+06,1.250000e+06,1.425000e+06,1.660000e+06,1.795000e+06,1.950000e+06
19,KALIMANTAN BARAT,228000.000000,304500.000000,380000.000000,400000.000000,420000.000000,445200.000000,512000.000000,560000.000000,6.450000e+05,...,7.410000e+05,8.025000e+05,9.000000e+05,1.060000e+06,1.380000e+06,1.560000e+06,1.739400e+06,2.046900e+06,2.211500e+06,2.399699e+06
20,KALIMANTAN TENGAH,285000.000000,362000.000000,362000.000000,425000.000000,482300.000000,523698.000000,634260.000000,665973.000000,7.658680e+05,...,9.865900e+05,1.134580e+06,1.327459e+06,1.553127e+06,1.723970e+06,1.896367e+06,2.057558e+06,2.421305e+06,2.663435e+06,2.903145e+06
21,KALIMANTAN SELATAN,200000.000000,295000.000000,377500.000000,425000.000000,482200.000000,536300.000000,629000.000000,745000.000000,8.250000e+05,...,1.024500e+06,1.126000e+06,1.225000e+06,1.337500e+06,1.620000e+06,1.870000e+06,2.085050e+06,2.454671e+06,2.651782e+06,2.877449e+06
22,KALIMANTAN TIMUR,233000.000000,300000.000000,500000.000000,540000.000000,572700.000000,600000.000000,701640.000000,766500.000000,8.896540e+05,...,1.002000e+06,1.084000e+06,1.177000e+06,1.752073e+06,1.886315e+06,2.026126e+06,2.161253e+06,2.543332e+06,2.747561e+06,2.981379e+06
23,KALIMANTAN UTARA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,2.026126e+06,2.175340e+06,2.559903e+06,2.765463e+06,3.000804e+06
24,SULAWESI UTARA,186000.000000,372000.000000,438000.000000,495000.000000,545000.000000,600000.000000,713500.000000,750000.000000,8.450000e+05,...,1.000000e+06,1.050000e+06,1.250000e+06,1.550000e+06,1.900000e+06,2.150000e+06,2.400000e+06,2.824286e+06,3.051076e+06,3.310723e+06
25,SULAWESI TENGAH,203000.000000,245000.000000,350000.000000,410000.000000,450000.000000,490000.000000,575000.000000,615000.000000,6.700000e+05,...,7.775000e+05,8.275000e+05,8.850000e+05,9.950000e+05,1.250000e+06,1.500000e+06,1.670000e+06,1.965232e+06,2.123040e+06,2.303711e+06
26,SULAWESI SELATAN,200000.000000,300000.000000,375000.000000,415000.000000,455000.000000,510000.000000,612000.000000,673200.000000,7.405200e+05,...,1.000000e+06,1.100000e+06,1.200000e+06,1.440000e+06,1.800000e+06,2.000000e+06,2.250000e+06,2.647767e+06,2.860382e+06,3.103800e+06
27,SULAWESI TENGGARA,210000.000000,275000.000000,325000.000000,390000.000000,470000.000000,498600.000000,573400.000000,640000.000000,7.000000e+05,...,8.600000e+05,9.300000e+05,1.032300e+06,1.125207e+06,1.400000e+06,1.652000e+06,1.850000e+06,2.177052e+06,2.351870e+06,2.552015e+06
28,GORONTALO,186000.000000,372000.000000,375000.000000,410000.000000,430000.000000,435000.000000,527000.000000,560000.000000,6.000000e+05,...,7.100000e+05,7.625000e+05,8.375000e+05,1.175000e+06,1.325000e+06,1.600000e+06,1.875000e+06,2.206813e+06,2.384020e+06,2.788826e+06
29,SULAWESI BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,612000.000000,691464.000000,7.605000e+05,...,9.442000e+05,1.006000e+06,1.127000e+06,1.165000e+06,1.400000e+06,1.655500e+06,1.864000e+06,2.193530e+06,2.381000e+06,2.678863e+06
30,MALUKU,180000.000000,230000.000000,285000.000000,370000.000000,450000.000000,500000.000000,575000.000000,635000.000000,7.000000e+05,...,8.400000e+05,9.000000e+05,9.750000e+05,1.275000e+06,1.415000e+06,1.650000e+06,1.775000e+06,2.222220e+06,2.400664e+06,2.604961e+06
31,MALUKU UTARA,180000.000000,230000.000000,322000.000000,370000.000000,400000.000000,440000.000000,528000.000000,660000.000000,7.000000e+05,...,8.470000e+05,8.893500e+05,9.604980e+05,1.200622e+06,1.440746e+06,1.577617e+06,1.681266e+06,2.320803e+06,2.508091e+06,2.721530e+06
32,PAPUA BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,822500.000000,987000.000000,1.105500e+06,...,1.210000e+06,1.410000e+06,1.450000e+06,1.720000e+06,1.870000e+06,2.015000e+06,2.237000e+06,2.667000e+06,2.934500e+06,3.134600e+06
33,PAPUA BARAT DAYA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
34,PAPUA,315000.000000,400000.000000,530000.000000,600000.000000,650000.000000,700000.000000,822500.000000,987000.000000,1.105500e+06,...,1.316500e+06,1.403000e+06,1.585000e+06,1.710000e+06,2.040000e+06,2.193000e+06,2.435000e+06,3.000000e+06,3.240900e+06,3.516700e+06
35,PAPUA SELATAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
36,PAPUA TENGAH,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
37,PAPUA PEGUNUNGAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
38,INDONESIA,216500.000000,290500.000000,362700.000000,414700.000000,458500.000000,507697.000000,602702.000000,672480.000000,7.457090e+05,...,9.088240e+05,9.888290e+05,1.088903e+06,1.296908e+06,1.584391e+06,1.790342e+06,1.997819e+06,2.268874e+06,2.455662e+06,2.672371e+06

In [158]:
df = pd.read_excel('data/UMP 2018-2022.xlsx')

In [159]:
df_merged

,Provinsi,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,2016,2018,2019,2020
0,ACEH,265000.000000,300000.000000,330000.000000,425000.000000,550000.000000,620000.000000,820000.000000,850000.000000,1.000000e+06,...,1.300000e+06,1.350000e+06,1.400000e+06,1.550000e+06,1.750000e+06,1.900000e+06,2.118500e+06,2.700000e+06,2.916810e+06,3.165031e+06
1,SUMATERA UTARA,254000.000000,340500.000000,464000.000000,505000.000000,537000.000000,600000.000000,737794.000000,761000.000000,8.222050e+05,...,9.650000e+05,1.035500e+06,1.200000e+06,1.375000e+06,1.505850e+06,1.625000e+06,1.811875e+06,2.132189e+06,2.303403e+06,2.499423e+06
2,SUMATERA BARAT,200000.000000,250000.000000,385000.000000,435000.000000,480000.000000,540000.000000,650000.000000,725000.000000,8.000000e+05,...,9.400000e+05,1.055000e+06,1.150000e+06,1.350000e+06,1.490000e+06,1.615000e+06,1.800725e+06,2.119067e+06,2.289220e+06,2.484041e+06
3,RIAU,250700.000000,329000.000000,394000.000000,437500.000000,476900.000000,551500.000000,637000.000000,710000.000000,8.000000e+05,...,1.016000e+06,1.120000e+06,1.238000e+06,1.400000e+06,1.700000e+06,1.878000e+06,2.095000e+06,2.464154e+06,2.662026e+06,2.888564e+06
4,JAMBI,173000.000000,245000.000000,304000.000000,390000.000000,425000.000000,485000.000000,563000.000000,658000.000000,7.240000e+05,...,9.000000e+05,1.028000e+06,1.142500e+06,1.300000e+06,1.502300e+06,1.710000e+06,1.906650e+06,2.243719e+06,2.423889e+06,2.630162e+06
5,SUMATERA SELATAN,190000.000000,255000.000000,331500.000000,403500.000000,460000.000000,503700.000000,604000.000000,662000.000000,7.430000e+05,...,9.278250e+05,1.048440e+06,1.195220e+06,1.630000e+06,1.825000e+06,1.974346e+06,2.206000e+06,2.595995e+06,2.804453e+06,3.043111e+06
6,BENGKULU,173000.000000,240000.000000,295000.000000,330000.000000,363000.000000,430000.000000,516000.000000,644838.000000,6.900000e+05,...,7.800000e+05,8.150000e+05,9.300000e+05,1.200000e+06,1.350000e+06,1.500000e+06,1.605000e+06,1.888741e+06,2.040407e+06,2.213604e+06
7,LAMPUNG,192000.000000,240000.000000,310000.000000,350000.000000,377500.000000,405000.000000,505000.000000,555000.000000,6.170000e+05,...,7.675000e+05,8.550000e+05,9.750000e+05,1.150000e+06,1.399037e+06,1.581000e+06,1.763000e+06,2.074673e+06,2.241270e+06,2.432002e+06
8,KEP. BANGKA BELITUNG,190000.000000,255000.000000,345000.000000,379500.000000,447900.000000,560000.000000,640000.000000,720000.000000,8.130000e+05,...,9.100000e+05,1.024000e+06,1.110000e+06,1.265000e+06,1.640000e+06,2.100000e+06,2.341500e+06,2.755444e+06,2.976706e+06,3.230024e+06
9,KEP. RIAU,300000.000000,421500.000000,289146.315789,460809.553191,460809.553191,557000.000000,760000.000000,805000.000000,8.330000e+05,...,9.250000e+05,9.750000e+05,1.015000e+06,1.365087e+06,1.665000e+06,1.954000e+06,2.178710e+06,2.563875e+06,2.769754e+06,3.005460e+06
10,DKI JAKARTA,286000.000000,426300.000000,591300.000000,631600.000000,671600.000000,711843.000000,819100.000000,900560.000000,9.726040e+05,...,1.118009e+06,1.290000e+06,1.529150e+06,2.200000e+06,2.441000e+06,2.700000e+06,3.100000e+06,3.648036e+06,3.940973e+06,4.276350e+06
11,JAWA BARAT,230000.000000,245000.000000,280800.000000,320000.000000,366500.000000,408260.000000,447654.000000,516840.000000,5.681930e+05,...,6.715000e+05,7.320000e+05,7.800000e+05,8.500000e+05,1.000000e+06,1.000000e+06,2.250000e+06,1.544361e+06,1.668373e+06,1.810351e+06
12,JAWA TENGAH,185000.000000,245000.000000,314500.000000,340400.000000,365000.000000,390000.000000,450000.000000,500000.000000,5.470000e+05,...,6.600000e+05,6.750000e+05,7.650000e+05,8.300000e+05,9.100000e+05,9.100000e+05,1.987646e+06,1.486065e+06,1.605396e+06,1.742015e+06
13,DI YOGYAKARTA,194500.000000,237500.000000,321800.000000,360000.000000,365000.000000,400000.000000,460000.000000,500000.000000,5.860000e+05,...,7.456940e+05,8.080000e+05,8.926600e+05,9.471140e+05,9.885000e+05,9.885000e+05,1.987646e+06,1.454154e+06,1.570923e+06,1.704608e+06
14,JAWA TIMUR,214500.000000,220000.000000,245000.000000,274000.000000,310000.000000,340000.000000,390000.000000,448500.000000,5.000000e+05,...,6.300000e+05,7.050000e+05,7.450000e+05,8.662500e+05,1.000000e+06,1.000000e+06,1.987646e+06,1.508895e+06,1.630059e+06,1.768777e+06
15,BANTEN,230000.000000,245000.000000,360000.000000,475000.000000,515000.000000,585000.000000,661613.000000,746500.000000,8.370000e+05,...,9.553000e+05,1.000000e+06,1.042000e+06,1.170000e+06,1.325000e+06,1.600000e+06,1.784000e+06,2.099385e+06,2.267990e+06,2.460997e+06
16,BALI,214000.000000,309800.000000,341000.000000,410000.000000,425000.000000,447500.000000,510000.000000,622000.000000,6.826500e+05,...,8.293160e+05,8.900000e+05,9.675000e+05,1.181000e+06,1.542600e+06,1.621172e+06,1.807600e+06,2.127157e+06,2.297969e+06,2.494000e+06
17,NUSA TENGGARA BARAT,180000.000000,240000.000000,320000.000000,375000.000000,412500.000000,475000.000000,550000.000000,645000.000000,7.300000e+05,...,8.907750e+05,9.500000e+05,1.000000e+06,1.100000e+06,1.210000e+06,1.330000e+06,1.482950e+06,1.825000e+06,2.012610e+06,2.183883e+06
18,NUSA TENGGARA TIMUR,184000.000000,275000.000000,330000.000000,350000.000000,400000.000000,450000.000000,550000.000000,600000.000000,6.500000e+05,...,8.000000e+05,8.500000e+05,9.250000e+05,1.010000e+06,1.150000e+06,1.250000e+06,1.425000e+06,1.660000e+06,1.795000e+06,1.950000e+06
19,KALIMANTAN BARAT,228000.000000,304500.000000,380000.000000,400000.000000,420000.000000,445200.000000,512000.000000,560000.000000,6.450000e+05,...,7.410000e+05,8.025000e+05,9.000000e+05,1.060000e+06,1.380000e+06,1.560000e+06,1.739400e+06,2.046900e+06,2.211500e+06,2.399699e+06
20,KALIMANTAN TENGAH,285000.000000,362000.000000,362000.000000,425000.000000,482300.000000,523698.000000,634260.000000,665973.000000,7.658680e+05,...,9.865900e+05,1.134580e+06,1.327459e+06,1.553127e+06,1.723970e+06,1.896367e+06,2.057558e+06,2.421305e+06,2.663435e+06,2.903145e+06
21,KALIMANTAN SELATAN,200000.000000,295000.000000,377500.000000,425000.000000,482200.000000,536300.000000,629000.000000,745000.000000,8.250000e+05,...,1.024500e+06,1.126000e+06,1.225000e+06,1.337500e+06,1.620000e+06,1.870000e+06,2.085050e+06,2.454671e+06,2.651782e+06,2.877449e+06
22,KALIMANTAN TIMUR,233000.000000,300000.000000,500000.000000,540000.000000,572700.000000,600000.000000,701640.000000,766500.000000,8.896540e+05,...,1.002000e+06,1.084000e+06,1.177000e+06,1.752073e+06,1.886315e+06,2.026126e+06,2.161253e+06,2.543332e+06,2.747561e+06,2.981379e+06
23,KALIMANTAN UTARA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,2.026126e+06,2.175340e+06,2.559903e+06,2.765463e+06,3.000804e+06
24,SULAWESI UTARA,186000.000000,372000.000000,438000.000000,495000.000000,545000.000000,600000.000000,713500.000000,750000.000000,8.450000e+05,...,1.000000e+06,1.050000e+06,1.250000e+06,1.550000e+06,1.900000e+06,2.150000e+06,2.400000e+06,2.824286e+06,3.051076e+06,3.310723e+06
25,SULAWESI TENGAH,203000.000000,245000.000000,350000.000000,410000.000000,450000.000000,490000.000000,575000.000000,615000.000000,6.700000e+05,...,7.775000e+05,8.275000e+05,8.850000e+05,9.950000e+05,1.250000e+06,1.500000e+06,1.670000e+06,1.965232e+06,2.123040e+06,2.303711e+06
26,SULAWESI SELATAN,200000.000000,300000.000000,375000.000000,415000.000000,455000.000000,510000.000000,612000.000000,673200.000000,7.405200e+05,...,1.000000e+06,1.100000e+06,1.200000e+06,1.440000e+06,1.800000e+06,2.000000e+06,2.250000e+06,2.647767e+06,2.860382e+06,3.103800e+06
27,SULAWESI TENGGARA,210000.000000,275000.000000,325000.000000,390000.000000,470000.000000,498600.000000,573400.000000,640000.000000,7.000000e+05,...,8.600000e+05,9.300000e+05,1.032300e+06,1.125207e+06,1.400000e+06,1.652000e+06,1.850000e+06,2.177052e+06,2.351870e+06,2.552015e+06
28,GORONTALO,186000.000000,372000.000000,375000.000000,410000.000000,430000.000000,435000.000000,527000.000000,560000.000000,6.000000e+05,...,7.100000e+05,7.625000e+05,8.375000e+05,1.175000e+06,1.325000e+06,1.600000e+06,1.875000e+06,2.206813e+06,2.384020e+06,2.788826e+06
29,SULAWESI BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,612000.000000,691464.000000,7.605000e+05,...,9.442000e+05,1.006000e+06,1.127000e+06,1.165000e+06,1.400000e+06,1.655500e+06,1.864000e+06,2.193530e+06,2.381000e+06,2.678863e+06
30,MALUKU,180000.000000,230000.000000,285000.000000,370000.000000,450000.000000,500000.000000,575000.000000,635000.000000,7.000000e+05,...,8.400000e+05,9.000000e+05,9.750000e+05,1.275000e+06,1.415000e+06,1.650000e+06,1.775000e+06,2.222220e+06,2.400664e+06,2.604961e+06
31,MALUKU UTARA,180000.000000,230000.000000,322000.000000,370000.000000,400000.000000,440000.000000,528000.000000,660000.000000,7.000000e+05,...,8.470000e+05,8.893500e+05,9.604980e+05,1.200622e+06,1.440746e+06,1.577617e+06,1.681266e+06,2.320803e+06,2.508091e+06,2.721530e+06
32,PAPUA BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,822500.000000,987000.000000,1.105500e+06,...,1.210000e+06,1.410000e+06,1.450000e+06,1.720000e+06,1.870000e+06,2.015000e+06,2.237000e+06,2.667000e+06,2.934500e+06,3.134600e+06
33,PAPUA BARAT DAYA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
34,PAPUA,315000.000000,400000.000000,530000.000000,600000.000000,650000.000000,700000.000000,822500.000000,987000.000000,1.105500e+06,...,1.316500e+06,1.403000e+06,1.585000e+06,1.710000e+06,2.040000e+06,2.193000e+06,2.435000e+06,3.000000e+06,3.240900e+06,3.516700e+06
35,PAPUA SELATAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
36,PAPUA TENGAH,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
37,PAPUA PEGUNUNGAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,9.130611e+05,9.130611e+05,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06
38,INDONESIA,216500.000000,290500.000000,362700.000000,414700.000000,458500.000000,507697.000000,602702.000000,672480.000000,7.457090e+05,...,9.088240e+05,9.888290e+05,1.088903e+06,1.296908e+06,1.584391e+06,1.790342e+06,1.997819e+06,2.268874e+06,2.455662e+06,2.672371e+06

In [160]:
df = df.iloc[4:39].reset_index(drop=True)
df.drop(columns=['Unnamed: 0'], inplace=True)
df.rename(columns={'Unnamed: 1': 'Provinsi', 'Unnamed: 2': '2018', 'Unnamed: 3': '2019', 'Unnamed: 4': '2020', 'Unnamed: 5': '2021', 'Unnamed: 6': '2022'}, inplace=True)
df.replace("Rata-Rata", 'Indonesia', inplace=True)
df

,Provinsi,2018,2019,2020,2021,2022
0,Aceh,2.700000e+06,2.916810e+06,3.165031e+06,3.165031e+06,3.166460e+06
1,Sumatera Utara,2.132189e+06,2.303403e+06,2.499423e+06,2.499423e+06,2.522610e+06
2,Sumatera Barat,2.119067e+06,2.289220e+06,2.484041e+06,2.484041e+06,2.512539e+06
3,Riau,2.464154e+06,2.662026e+06,2.888564e+06,2.888564e+06,2.938564e+06
4,Jambi,2.243719e+06,2.423889e+06,2.630162e+06,2.630162e+06,2.698941e+06
5,Sumatera Selatan,2.595995e+06,2.804453e+06,3.043111e+06,3.144446e+06,3.144446e+06
6,Bengkulu,1.888741e+06,2.040407e+06,2.213604e+06,2.215000e+06,2.238094e+06
7,Lampung,2.074673e+06,2.241270e+06,2.432002e+06,2.432002e+06,2.440486e+06
8,Bangka Belitung,2.755444e+06,2.976706e+06,3.230024e+06,3.230024e+06,3.264884e+06
9,Kepulauan Riau,2.563875e+06,2.769754e+06,3.005460e+06,3.005460e+06,3.050172e+06
10,DKI Jakarta,3.648036e+06,3.940973e+06,4.276350e+06,4.416187e+06,4.641854e+06
11,Jawa Barat,1.544361e+06,1.668373e+06,1.810351e+06,1.810351e+06,1.841487e+06
12,Jawa Tengah,1.486065e+06,1.605396e+06,1.742015e+06,1.798979e+06,1.812935e+06
13,DI. Yogyakarta,1.454154e+06,1.570923e+06,1.704608e+06,1.765000e+06,1.840916e+06
14,Jawa Timur,1.508895e+06,1.630059e+06,1.768777e+06,1.868777e+06,1.891567e+06
15,Banten,2.099385e+06,2.267991e+06,2.460997e+06,2.460997e+06,2.501203e+06
16,Bali,2.127157e+06,2.297969e+06,2.494000e+06,2.494000e+06,2.516971e+06
17,Nusa Tenggara Barat,1.825000e+06,2.012610e+06,2.183883e+06,2.183883e+06,2.207212e+06
18,Nusa Tenggara Timur,1.660000e+06,1.795000e+06,1.950000e+06,1.950000e+06,1.975000e+06
19,Kalimantan Barat,2.046900e+06,2.211500e+06,2.399699e+06,2.399699e+06,2.434328e+06
20,Kalimantan Tengah,2.421305e+06,2.663436e+06,2.903145e+06,2.903145e+06,2.922516e+06
21,Kalimantan Selatan,2.454671e+06,2.651782e+06,2.877449e+06,2.877449e+06,2.906473e+06
22,Kalimantan Timur,2.543332e+06,2.747561e+06,2.981379e+06,2.981379e+06,3.014497e+06
23,Kalimantan Utara,2.559903e+06,2.765463e+06,3.000804e+06,3.000804e+06,3.016738e+06
24,Sulawesi Utara,2.824286e+06,3.051076e+06,3.310723e+06,3.310723e+06,3.310723e+06
25,Sulawesi Tengah,1.965232e+06,2.123040e+06,2.303711e+06,2.303711e+06,2.390739e+06
26,Sulawesi Selatan,2.647767e+06,2.860382e+06,3.103800e+06,3.165876e+06,3.165876e+06
27,Sulawesi Tenggara,2.177052e+06,2.351870e+06,2.552015e+06,2.552015e+06,2.576017e+06
28,Gorontalo,2.206813e+06,2.384020e+06,2.788826e+06,2.788826e+06,2.800580e+06
29,Sulawesi Barat,2.193530e+06,2.381000e+06,2.678863e+06,2.678863e+06,2.678863e+06
30,Maluku,2.222220e+06,2.400664e+06,2.604961e+06,2.604961e+06,2.619313e+06
31,Maluku Utara,2.320803e+06,2.508091e+06,2.721530e+06,2.721530e+06,2.862231e+06
32,Papua Barat,2.667000e+06,2.934500e+06,3.134600e+06,3.134600e+06,3.200000e+06
33,Papua,3.000000e+06,3.240900e+06,3.516700e+06,3.516700e+06,3.561932e+06
34,Indonesia,2.268874e+06,2.455662e+06,2.672371e+06,2.687724e+06,2.725505e+06

In [161]:
# Uppercase
df["Provinsi"] = df["Provinsi"].str.upper()
df_merged["Provinsi"] = df_merged["Provinsi"].str.upper()

In [162]:
df.drop(columns=['2018', '2019', '2020'], inplace=True)

In [165]:
df_merged = df_merged.merge(df, on='Provinsi', how='left')

In [ ]:
df_merged
global_mean = df_merged.select_dtypes(include='number').stack().mean()
df_merged.fillna(global_mean, inplace=True)
df_merged

,Provinsi,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2018,2019,2020,2021,2022
0,ACEH,265000.000000,300000.000000,330000.000000,425000.000000,550000.000000,620000.000000,820000.000000,850000.000000,1.000000e+06,...,1.400000e+06,1.550000e+06,1.750000e+06,1.900000e+06,2.118500e+06,2.700000e+06,2.916810e+06,3.165031e+06,3.165031e+06,3.166460e+06
1,SUMATERA UTARA,254000.000000,340500.000000,464000.000000,505000.000000,537000.000000,600000.000000,737794.000000,761000.000000,8.222050e+05,...,1.200000e+06,1.375000e+06,1.505850e+06,1.625000e+06,1.811875e+06,2.132189e+06,2.303403e+06,2.499423e+06,2.499423e+06,2.522610e+06
2,SUMATERA BARAT,200000.000000,250000.000000,385000.000000,435000.000000,480000.000000,540000.000000,650000.000000,725000.000000,8.000000e+05,...,1.150000e+06,1.350000e+06,1.490000e+06,1.615000e+06,1.800725e+06,2.119067e+06,2.289220e+06,2.484041e+06,2.484041e+06,2.512539e+06
3,RIAU,250700.000000,329000.000000,394000.000000,437500.000000,476900.000000,551500.000000,637000.000000,710000.000000,8.000000e+05,...,1.238000e+06,1.400000e+06,1.700000e+06,1.878000e+06,2.095000e+06,2.464154e+06,2.662026e+06,2.888564e+06,2.888564e+06,2.938564e+06
4,JAMBI,173000.000000,245000.000000,304000.000000,390000.000000,425000.000000,485000.000000,563000.000000,658000.000000,7.240000e+05,...,1.142500e+06,1.300000e+06,1.502300e+06,1.710000e+06,1.906650e+06,2.243719e+06,2.423889e+06,2.630162e+06,2.630162e+06,2.698941e+06
5,SUMATERA SELATAN,190000.000000,255000.000000,331500.000000,403500.000000,460000.000000,503700.000000,604000.000000,662000.000000,7.430000e+05,...,1.195220e+06,1.630000e+06,1.825000e+06,1.974346e+06,2.206000e+06,2.595995e+06,2.804453e+06,3.043111e+06,3.144446e+06,3.144446e+06
6,BENGKULU,173000.000000,240000.000000,295000.000000,330000.000000,363000.000000,430000.000000,516000.000000,644838.000000,6.900000e+05,...,9.300000e+05,1.200000e+06,1.350000e+06,1.500000e+06,1.605000e+06,1.888741e+06,2.040407e+06,2.213604e+06,2.215000e+06,2.238094e+06
7,LAMPUNG,192000.000000,240000.000000,310000.000000,350000.000000,377500.000000,405000.000000,505000.000000,555000.000000,6.170000e+05,...,9.750000e+05,1.150000e+06,1.399037e+06,1.581000e+06,1.763000e+06,2.074673e+06,2.241270e+06,2.432002e+06,2.432002e+06,2.440486e+06
8,KEP. BANGKA BELITUNG,190000.000000,255000.000000,345000.000000,379500.000000,447900.000000,560000.000000,640000.000000,720000.000000,8.130000e+05,...,1.110000e+06,1.265000e+06,1.640000e+06,2.100000e+06,2.341500e+06,2.755444e+06,2.976706e+06,3.230024e+06,1.223113e+06,1.223113e+06
9,KEP. RIAU,300000.000000,421500.000000,289146.315789,460809.553191,460809.553191,557000.000000,760000.000000,805000.000000,8.330000e+05,...,1.015000e+06,1.365087e+06,1.665000e+06,1.954000e+06,2.178710e+06,2.563875e+06,2.769754e+06,3.005460e+06,1.223113e+06,1.223113e+06
10,DKI JAKARTA,286000.000000,426300.000000,591300.000000,631600.000000,671600.000000,711843.000000,819100.000000,900560.000000,9.726040e+05,...,1.529150e+06,2.200000e+06,2.441000e+06,2.700000e+06,3.100000e+06,3.648036e+06,3.940973e+06,4.276350e+06,4.416187e+06,4.641854e+06
11,JAWA BARAT,230000.000000,245000.000000,280800.000000,320000.000000,366500.000000,408260.000000,447654.000000,516840.000000,5.681930e+05,...,7.800000e+05,8.500000e+05,1.000000e+06,1.000000e+06,2.250000e+06,1.544361e+06,1.668373e+06,1.810351e+06,1.810351e+06,1.841487e+06
12,JAWA TENGAH,185000.000000,245000.000000,314500.000000,340400.000000,365000.000000,390000.000000,450000.000000,500000.000000,5.470000e+05,...,7.650000e+05,8.300000e+05,9.100000e+05,9.100000e+05,1.987646e+06,1.486065e+06,1.605396e+06,1.742015e+06,1.798979e+06,1.812935e+06
13,DI YOGYAKARTA,194500.000000,237500.000000,321800.000000,360000.000000,365000.000000,400000.000000,460000.000000,500000.000000,5.860000e+05,...,8.926600e+05,9.471140e+05,9.885000e+05,9.885000e+05,1.987646e+06,1.454154e+06,1.570923e+06,1.704608e+06,1.223113e+06,1.223113e+06
14,JAWA TIMUR,214500.000000,220000.000000,245000.000000,274000.000000,310000.000000,340000.000000,390000.000000,448500.000000,5.000000e+05,...,7.450000e+05,8.662500e+05,1.000000e+06,1.000000e+06,1.987646e+06,1.508895e+06,1.630059e+06,1.768777e+06,1.868777e+06,1.891567e+06
15,BANTEN,230000.000000,245000.000000,360000.000000,475000.000000,515000.000000,585000.000000,661613.000000,746500.000000,8.370000e+05,...,1.042000e+06,1.170000e+06,1.325000e+06,1.600000e+06,1.784000e+06,2.099385e+06,2.267990e+06,2.460997e+06,2.460997e+06,2.501203e+06
16,BALI,214000.000000,309800.000000,341000.000000,410000.000000,425000.000000,447500.000000,510000.000000,622000.000000,6.826500e+05,...,9.675000e+05,1.181000e+06,1.542600e+06,1.621172e+06,1.807600e+06,2.127157e+06,2.297969e+06,2.494000e+06,2.494000e+06,2.516971e+06
17,NUSA TENGGARA BARAT,180000.000000,240000.000000,320000.000000,375000.000000,412500.000000,475000.000000,550000.000000,645000.000000,7.300000e+05,...,1.000000e+06,1.100000e+06,1.210000e+06,1.330000e+06,1.482950e+06,1.825000e+06,2.012610e+06,2.183883e+06,2.183883e+06,2.207212e+06
18,NUSA TENGGARA TIMUR,184000.000000,275000.000000,330000.000000,350000.000000,400000.000000,450000.000000,550000.000000,600000.000000,6.500000e+05,...,9.250000e+05,1.010000e+06,1.150000e+06,1.250000e+06,1.425000e+06,1.660000e+06,1.795000e+06,1.950000e+06,1.950000e+06,1.975000e+06
19,KALIMANTAN BARAT,228000.000000,304500.000000,380000.000000,400000.000000,420000.000000,445200.000000,512000.000000,560000.000000,6.450000e+05,...,9.000000e+05,1.060000e+06,1.380000e+06,1.560000e+06,1.739400e+06,2.046900e+06,2.211500e+06,2.399699e+06,2.399699e+06,2.434328e+06
20,KALIMANTAN TENGAH,285000.000000,362000.000000,362000.000000,425000.000000,482300.000000,523698.000000,634260.000000,665973.000000,7.658680e+05,...,1.327459e+06,1.553127e+06,1.723970e+06,1.896367e+06,2.057558e+06,2.421305e+06,2.663435e+06,2.903145e+06,2.903145e+06,2.922516e+06
21,KALIMANTAN SELATAN,200000.000000,295000.000000,377500.000000,425000.000000,482200.000000,536300.000000,629000.000000,745000.000000,8.250000e+05,...,1.225000e+06,1.337500e+06,1.620000e+06,1.870000e+06,2.085050e+06,2.454671e+06,2.651782e+06,2.877449e+06,2.877449e+06,2.906473e+06
22,KALIMANTAN TIMUR,233000.000000,300000.000000,500000.000000,540000.000000,572700.000000,600000.000000,701640.000000,766500.000000,8.896540e+05,...,1.177000e+06,1.752073e+06,1.886315e+06,2.026126e+06,2.161253e+06,2.543332e+06,2.747561e+06,2.981379e+06,2.981379e+06,3.014497e+06
23,KALIMANTAN UTARA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.299483e+06,2.026126e+06,2.175340e+06,2.559903e+06,2.765463e+06,3.000804e+06,3.000804e+06,3.016738e+06
24,SULAWESI UTARA,186000.000000,372000.000000,438000.000000,495000.000000,545000.000000,600000.000000,713500.000000,750000.000000,8.450000e+05,...,1.250000e+06,1.550000e+06,1.900000e+06,2.150000e+06,2.400000e+06,2.824286e+06,3.051076e+06,3.310723e+06,3.310723e+06,3.310723e+06
25,SULAWESI TENGAH,203000.000000,245000.000000,350000.000000,410000.000000,450000.000000,490000.000000,575000.000000,615000.000000,6.700000e+05,...,8.850000e+05,9.950000e+05,1.250000e+06,1.500000e+06,1.670000e+06,1.965232e+06,2.123040e+06,2.303711e+06,2.303711e+06,2.390739e+06
26,SULAWESI SELATAN,200000.000000,300000.000000,375000.000000,415000.000000,455000.000000,510000.000000,612000.000000,673200.000000,7.405200e+05,...,1.200000e+06,1.440000e+06,1.800000e+06,2.000000e+06,2.250000e+06,2.647767e+06,2.860382e+06,3.103800e+06,3.165876e+06,3.165876e+06
27,SULAWESI TENGGARA,210000.000000,275000.000000,325000.000000,390000.000000,470000.000000,498600.000000,573400.000000,640000.000000,7.000000e+05,...,1.032300e+06,1.125207e+06,1.400000e+06,1.652000e+06,1.850000e+06,2.177052e+06,2.351870e+06,2.552015e+06,2.552015e+06,2.576017e+06
28,GORONTALO,186000.000000,372000.000000,375000.000000,410000.000000,430000.000000,435000.000000,527000.000000,560000.000000,6.000000e+05,...,8.375000e+05,1.175000e+06,1.325000e+06,1.600000e+06,1.875000e+06,2.206813e+06,2.384020e+06,2.788826e+06,2.788826e+06,2.800580e+06
29,SULAWESI BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,612000.000000,691464.000000,7.605000e+05,...,1.127000e+06,1.165000e+06,1.400000e+06,1.655500e+06,1.864000e+06,2.193530e+06,2.381000e+06,2.678863e+06,2.678863e+06,2.678863e+06
30,MALUKU,180000.000000,230000.000000,285000.000000,370000.000000,450000.000000,500000.000000,575000.000000,635000.000000,7.000000e+05,...,9.750000e+05,1.275000e+06,1.415000e+06,1.650000e+06,1.775000e+06,2.222220e+06,2.400664e+06,2.604961e+06,2.604961e+06,2.619313e+06
31,MALUKU UTARA,180000.000000,230000.000000,322000.000000,370000.000000,400000.000000,440000.000000,528000.000000,660000.000000,7.000000e+05,...,9.604980e+05,1.200622e+06,1.440746e+06,1.577617e+06,1.681266e+06,2.320803e+06,2.508091e+06,2.721530e+06,2.721530e+06,2.862231e+06
32,PAPUA BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,822500.000000,987000.000000,1.105500e+06,...,1.450000e+06,1.720000e+06,1.870000e+06,2.015000e+06,2.237000e+06,2.667000e+06,2.934500e+06,3.134600e+06,3.134600e+06,3.200000e+06
33,PAPUA BARAT DAYA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06
34,PAPUA,315000.000000,400000.000000,530000.000000,600000.000000,650000.000000,700000.000000,822500.000000,987000.000000,1.105500e+06,...,1.585000e+06,1.710000e+06,2.040000e+06,2.193000e+06,2.435000e+06,3.000000e+06,3.240900e+06,3.516700e+06,3.516700e+06,3.561932e+06
35,PAPUA SELATAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06
36,PAPUA TENGAH,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06
37,PAPUA PEGUNUNGAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06
38,INDONESIA,216500.000000,290500.000000,362700.000000,414700.000000,458500.000000,507697.000000,602702.000000,672480.000000,7.457090e+05,...,1.088903e+06,1.296908e+06,1.584391e+06,1.790342e+06,1.997819e+06,2.268874e+06,2.455662e+06,2.672371e+06,2.687724e+06,2.725505e+06

In [198]:
df = pd.read_excel('data/UMP 2023.xlsx')

In [196]:
df = df.iloc[4:39].reset_index(drop=True).drop(columns=['Unnamed: 2', 'Unnamed: 3']).rename(columns={'Upah Minimum Provinsi ': 'Provinsi', 'Unnamed: 1': '2023'}).replace("Rata-rata", 'Indonesia')

In [197]:
df

   Unnamed: 0 Upah Minimum Provinsi di Indonesia Unnamed: 4
0           2                     Sumatera Utara        NaN
1           3                     Sumatera Barat        NaN
2           4                               Riau        NaN
3           5                              Jambi        NaN
4           6                   Sumatera Selatan        NaN
5           7                           Bengkulu        NaN
6           8                            Lampung        NaN
7           9                    Bangka Belitung        NaN
8          10                     Kepulauan Riau        NaN
9          11                        DKI Jakarta        NaN
10         12                         Jawa Barat        NaN
11         13                        Jawa Tengah        NaN
12         14                     DI. Yogyakarta        NaN
13         15                         Jawa Timur        NaN
14         16                             Banten        NaN
15         17                               Bali        NaN
16         18                Nusa Tenggara Barat        NaN
17         19                Nusa Tenggara Timur        NaN
18         20                   Kalimantan Barat        NaN
19         21                  Kalimantan Tengah        NaN
20         22                 Kalimantan Selatan        NaN
21         23                   Kalimantan Timur        NaN
22         24                   Kalimantan Utara        NaN
23         25                     Sulawesi Utara        NaN
24         26                    Sulawesi Tengah        NaN
25         27                   Sulawesi Selatan        NaN
26         28                  Sulawesi Tenggara        NaN
27         29                          Gorontalo        NaN
28         30                     Sulawesi Barat        NaN
29         31                             Maluku        NaN
30         32                       Maluku Utara        NaN
31         33                        Papua Barat        NaN
32         34                              Papua
33         35                       Papua Tengah        NaN
34         36                   Papua Pegunungan        NaN

In [192]:
df['Provinsi'] = df['Provinsi'].str.upper()

In [194]:
df_merged
global_mean = df_merged.select_dtypes(include='number').stack().mean()
df_merged.fillna(global_mean, inplace=True)
df_merged

,Provinsi,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2018,2019,2020,2021,2022,2023
0,ACEH,265000.000000,300000.000000,330000.000000,425000.000000,550000.000000,620000.000000,820000.000000,850000.000000,1.000000e+06,...,1.550000e+06,1.750000e+06,1.900000e+06,2.118500e+06,2.700000e+06,2.916810e+06,3.165031e+06,3.165031e+06,3.166460e+06,3.413666e+06
1,SUMATERA UTARA,254000.000000,340500.000000,464000.000000,505000.000000,537000.000000,600000.000000,737794.000000,761000.000000,8.222050e+05,...,1.375000e+06,1.505850e+06,1.625000e+06,1.811875e+06,2.132189e+06,2.303403e+06,2.499423e+06,2.499423e+06,2.522610e+06,2.710494e+06
2,SUMATERA BARAT,200000.000000,250000.000000,385000.000000,435000.000000,480000.000000,540000.000000,650000.000000,725000.000000,8.000000e+05,...,1.350000e+06,1.490000e+06,1.615000e+06,1.800725e+06,2.119067e+06,2.289220e+06,2.484041e+06,2.484041e+06,2.512539e+06,2.742476e+06
3,RIAU,250700.000000,329000.000000,394000.000000,437500.000000,476900.000000,551500.000000,637000.000000,710000.000000,8.000000e+05,...,1.400000e+06,1.700000e+06,1.878000e+06,2.095000e+06,2.464154e+06,2.662026e+06,2.888564e+06,2.888564e+06,2.938564e+06,3.191663e+06
4,JAMBI,173000.000000,245000.000000,304000.000000,390000.000000,425000.000000,485000.000000,563000.000000,658000.000000,7.240000e+05,...,1.300000e+06,1.502300e+06,1.710000e+06,1.906650e+06,2.243719e+06,2.423889e+06,2.630162e+06,2.630162e+06,2.698941e+06,2.943033e+06
5,SUMATERA SELATAN,190000.000000,255000.000000,331500.000000,403500.000000,460000.000000,503700.000000,604000.000000,662000.000000,7.430000e+05,...,1.630000e+06,1.825000e+06,1.974346e+06,2.206000e+06,2.595995e+06,2.804453e+06,3.043111e+06,3.144446e+06,3.144446e+06,3.404177e+06
6,BENGKULU,173000.000000,240000.000000,295000.000000,330000.000000,363000.000000,430000.000000,516000.000000,644838.000000,6.900000e+05,...,1.200000e+06,1.350000e+06,1.500000e+06,1.605000e+06,1.888741e+06,2.040407e+06,2.213604e+06,2.215000e+06,2.238094e+06,2.418280e+06
7,LAMPUNG,192000.000000,240000.000000,310000.000000,350000.000000,377500.000000,405000.000000,505000.000000,555000.000000,6.170000e+05,...,1.150000e+06,1.399037e+06,1.581000e+06,1.763000e+06,2.074673e+06,2.241270e+06,2.432002e+06,2.432002e+06,2.440486e+06,2.633285e+06
8,KEP. BANGKA BELITUNG,190000.000000,255000.000000,345000.000000,379500.000000,447900.000000,560000.000000,640000.000000,720000.000000,8.130000e+05,...,1.265000e+06,1.640000e+06,2.100000e+06,2.341500e+06,2.755444e+06,2.976706e+06,3.230024e+06,1.223113e+06,1.223113e+06,1.284255e+06
9,KEP. RIAU,300000.000000,421500.000000,289146.315789,460809.553191,460809.553191,557000.000000,760000.000000,805000.000000,8.330000e+05,...,1.365087e+06,1.665000e+06,1.954000e+06,2.178710e+06,2.563875e+06,2.769754e+06,3.005460e+06,1.223113e+06,1.223113e+06,1.284255e+06
10,DKI JAKARTA,286000.000000,426300.000000,591300.000000,631600.000000,671600.000000,711843.000000,819100.000000,900560.000000,9.726040e+05,...,2.200000e+06,2.441000e+06,2.700000e+06,3.100000e+06,3.648036e+06,3.940973e+06,4.276350e+06,4.416187e+06,4.641854e+06,4.901798e+06
11,JAWA BARAT,230000.000000,245000.000000,280800.000000,320000.000000,366500.000000,408260.000000,447654.000000,516840.000000,5.681930e+05,...,8.500000e+05,1.000000e+06,1.000000e+06,2.250000e+06,1.544361e+06,1.668373e+06,1.810351e+06,1.810351e+06,1.841487e+06,1.986670e+06
12,JAWA TENGAH,185000.000000,245000.000000,314500.000000,340400.000000,365000.000000,390000.000000,450000.000000,500000.000000,5.470000e+05,...,8.300000e+05,9.100000e+05,9.100000e+05,1.987646e+06,1.486065e+06,1.605396e+06,1.742015e+06,1.798979e+06,1.812935e+06,1.958170e+06
13,DI YOGYAKARTA,194500.000000,237500.000000,321800.000000,360000.000000,365000.000000,400000.000000,460000.000000,500000.000000,5.860000e+05,...,9.471140e+05,9.885000e+05,9.885000e+05,1.987646e+06,1.454154e+06,1.570923e+06,1.704608e+06,1.223113e+06,1.223113e+06,1.284255e+06
14,JAWA TIMUR,214500.000000,220000.000000,245000.000000,274000.000000,310000.000000,340000.000000,390000.000000,448500.000000,5.000000e+05,...,8.662500e+05,1.000000e+06,1.000000e+06,1.987646e+06,1.508895e+06,1.630059e+06,1.768777e+06,1.868777e+06,1.891567e+06,2.040244e+06
15,BANTEN,230000.000000,245000.000000,360000.000000,475000.000000,515000.000000,585000.000000,661613.000000,746500.000000,8.370000e+05,...,1.170000e+06,1.325000e+06,1.600000e+06,1.784000e+06,2.099385e+06,2.267990e+06,2.460997e+06,2.460997e+06,2.501203e+06,2.661280e+06
16,BALI,214000.000000,309800.000000,341000.000000,410000.000000,425000.000000,447500.000000,510000.000000,622000.000000,6.826500e+05,...,1.181000e+06,1.542600e+06,1.621172e+06,1.807600e+06,2.127157e+06,2.297969e+06,2.494000e+06,2.494000e+06,2.516971e+06,2.713672e+06
17,NUSA TENGGARA BARAT,180000.000000,240000.000000,320000.000000,375000.000000,412500.000000,475000.000000,550000.000000,645000.000000,7.300000e+05,...,1.100000e+06,1.210000e+06,1.330000e+06,1.482950e+06,1.825000e+06,2.012610e+06,2.183883e+06,2.183883e+06,2.207212e+06,2.371407e+06
18,NUSA TENGGARA TIMUR,184000.000000,275000.000000,330000.000000,350000.000000,400000.000000,450000.000000,550000.000000,600000.000000,6.500000e+05,...,1.010000e+06,1.150000e+06,1.250000e+06,1.425000e+06,1.660000e+06,1.795000e+06,1.950000e+06,1.950000e+06,1.975000e+06,2.123994e+06
19,KALIMANTAN BARAT,228000.000000,304500.000000,380000.000000,400000.000000,420000.000000,445200.000000,512000.000000,560000.000000,6.450000e+05,...,1.060000e+06,1.380000e+06,1.560000e+06,1.739400e+06,2.046900e+06,2.211500e+06,2.399699e+06,2.399699e+06,2.434328e+06,2.608602e+06
20,KALIMANTAN TENGAH,285000.000000,362000.000000,362000.000000,425000.000000,482300.000000,523698.000000,634260.000000,665973.000000,7.658680e+05,...,1.553127e+06,1.723970e+06,1.896367e+06,2.057558e+06,2.421305e+06,2.663435e+06,2.903145e+06,2.903145e+06,2.922516e+06,3.181013e+06
21,KALIMANTAN SELATAN,200000.000000,295000.000000,377500.000000,425000.000000,482200.000000,536300.000000,629000.000000,745000.000000,8.250000e+05,...,1.337500e+06,1.620000e+06,1.870000e+06,2.085050e+06,2.454671e+06,2.651782e+06,2.877449e+06,2.877449e+06,2.906473e+06,3.149978e+06
22,KALIMANTAN TIMUR,233000.000000,300000.000000,500000.000000,540000.000000,572700.000000,600000.000000,701640.000000,766500.000000,8.896540e+05,...,1.752073e+06,1.886315e+06,2.026126e+06,2.161253e+06,2.543332e+06,2.747561e+06,2.981379e+06,2.981379e+06,3.014497e+06,3.201396e+06
23,KALIMANTAN UTARA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,2.026126e+06,2.175340e+06,2.559903e+06,2.765463e+06,3.000804e+06,3.000804e+06,3.016738e+06,3.251703e+06
24,SULAWESI UTARA,186000.000000,372000.000000,438000.000000,495000.000000,545000.000000,600000.000000,713500.000000,750000.000000,8.450000e+05,...,1.550000e+06,1.900000e+06,2.150000e+06,2.400000e+06,2.824286e+06,3.051076e+06,3.310723e+06,3.310723e+06,3.310723e+06,3.485000e+06
25,SULAWESI TENGAH,203000.000000,245000.000000,350000.000000,410000.000000,450000.000000,490000.000000,575000.000000,615000.000000,6.700000e+05,...,9.950000e+05,1.250000e+06,1.500000e+06,1.670000e+06,1.965232e+06,2.123040e+06,2.303711e+06,2.303711e+06,2.390739e+06,2.599546e+06
26,SULAWESI SELATAN,200000.000000,300000.000000,375000.000000,415000.000000,455000.000000,510000.000000,612000.000000,673200.000000,7.405200e+05,...,1.440000e+06,1.800000e+06,2.000000e+06,2.250000e+06,2.647767e+06,2.860382e+06,3.103800e+06,3.165876e+06,3.165876e+06,3.385145e+06
27,SULAWESI TENGGARA,210000.000000,275000.000000,325000.000000,390000.000000,470000.000000,498600.000000,573400.000000,640000.000000,7.000000e+05,...,1.125207e+06,1.400000e+06,1.652000e+06,1.850000e+06,2.177052e+06,2.351870e+06,2.552015e+06,2.552015e+06,2.576017e+06,2.758985e+06
28,GORONTALO,186000.000000,372000.000000,375000.000000,410000.000000,430000.000000,435000.000000,527000.000000,560000.000000,6.000000e+05,...,1.175000e+06,1.325000e+06,1.600000e+06,1.875000e+06,2.206813e+06,2.384020e+06,2.788826e+06,2.788826e+06,2.800580e+06,2.989350e+06
29,SULAWESI BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,612000.000000,691464.000000,7.605000e+05,...,1.165000e+06,1.400000e+06,1.655500e+06,1.864000e+06,2.193530e+06,2.381000e+06,2.678863e+06,2.678863e+06,2.678863e+06,2.871795e+06
30,MALUKU,180000.000000,230000.000000,285000.000000,370000.000000,450000.000000,500000.000000,575000.000000,635000.000000,7.000000e+05,...,1.275000e+06,1.415000e+06,1.650000e+06,1.775000e+06,2.222220e+06,2.400664e+06,2.604961e+06,2.604961e+06,2.619313e+06,2.812828e+06
31,MALUKU UTARA,180000.000000,230000.000000,322000.000000,370000.000000,400000.000000,440000.000000,528000.000000,660000.000000,7.000000e+05,...,1.200622e+06,1.440746e+06,1.577617e+06,1.681266e+06,2.320803e+06,2.508091e+06,2.721530e+06,2.721530e+06,2.862231e+06,2.976720e+06
32,PAPUA BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,822500.000000,987000.000000,1.105500e+06,...,1.720000e+06,1.870000e+06,2.015000e+06,2.237000e+06,2.667000e+06,2.934500e+06,3.134600e+06,3.134600e+06,3.200000e+06,3.282000e+06
33,PAPUA BARAT DAYA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06
34,PAPUA,315000.000000,400000.000000,530000.000000,600000.000000,650000.000000,700000.000000,822500.000000,987000.000000,1.105500e+06,...,1.710000e+06,2.040000e+06,2.193000e+06,2.435000e+06,3.000000e+06,3.240900e+06,3.516700e+06,3.516700e+06,3.561932e+06,3.864696e+06
35,PAPUA SELATAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06
36,PAPUA TENGAH,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06
37,PAPUA PEGUNUNGAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06
38,INDONESIA,216500.000000,290500.000000,362700.000000,414700.000000,458500.000000,507697.000000,602702.000000,672480.000000,7.457090e+05,...,1.296908e+06,1.584391e+06,1.790342e+06,1.997819e+06,2.268874e+06,2.455662e+06,2.672371e+06,2.687724e+06,2.725505e+06,2.923309e+06

In [216]:
df = pd.read_excel('data/UMP 2024.xlsx')

In [217]:
df = df.iloc[3:42].reset_index(drop=True).drop(columns=['Unnamed: 0', 'Unnamed: 3', 'Unnamed: 4']).rename(columns={'Upah Minimum Provinsi di Indonesia': 'Provinsi', 'Unnamed: 2': '2024'}).replace("Rata-rata", 'Indonesia')
df_merged = df_merged.merge(df, on='Provinsi', how='left')

In [218]:
df_merged
global_mean = df_merged.select_dtypes(include='number').stack().mean()
df_merged.fillna(global_mean, inplace=True)
df_merged

,Provinsi,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2018,2019,2020,2021,2022,2023,2024
0,ACEH,265000.000000,300000.000000,330000.000000,425000.000000,550000.000000,620000.000000,820000.000000,850000.000000,1.000000e+06,...,1.750000e+06,1.900000e+06,2.118500e+06,2.700000e+06,2.916810e+06,3.165031e+06,3.165031e+06,3.166460e+06,3.413666e+06,1.284255e+06
1,SUMATERA UTARA,254000.000000,340500.000000,464000.000000,505000.000000,537000.000000,600000.000000,737794.000000,761000.000000,8.222050e+05,...,1.505850e+06,1.625000e+06,1.811875e+06,2.132189e+06,2.303403e+06,2.499423e+06,2.499423e+06,2.522610e+06,2.710494e+06,1.284255e+06
2,SUMATERA BARAT,200000.000000,250000.000000,385000.000000,435000.000000,480000.000000,540000.000000,650000.000000,725000.000000,8.000000e+05,...,1.490000e+06,1.615000e+06,1.800725e+06,2.119067e+06,2.289220e+06,2.484041e+06,2.484041e+06,2.512539e+06,2.742476e+06,1.284255e+06
3,RIAU,250700.000000,329000.000000,394000.000000,437500.000000,476900.000000,551500.000000,637000.000000,710000.000000,8.000000e+05,...,1.700000e+06,1.878000e+06,2.095000e+06,2.464154e+06,2.662026e+06,2.888564e+06,2.888564e+06,2.938564e+06,3.191663e+06,1.284255e+06
4,JAMBI,173000.000000,245000.000000,304000.000000,390000.000000,425000.000000,485000.000000,563000.000000,658000.000000,7.240000e+05,...,1.502300e+06,1.710000e+06,1.906650e+06,2.243719e+06,2.423889e+06,2.630162e+06,2.630162e+06,2.698941e+06,2.943033e+06,1.284255e+06
5,SUMATERA SELATAN,190000.000000,255000.000000,331500.000000,403500.000000,460000.000000,503700.000000,604000.000000,662000.000000,7.430000e+05,...,1.825000e+06,1.974346e+06,2.206000e+06,2.595995e+06,2.804453e+06,3.043111e+06,3.144446e+06,3.144446e+06,3.404177e+06,1.284255e+06
6,BENGKULU,173000.000000,240000.000000,295000.000000,330000.000000,363000.000000,430000.000000,516000.000000,644838.000000,6.900000e+05,...,1.350000e+06,1.500000e+06,1.605000e+06,1.888741e+06,2.040407e+06,2.213604e+06,2.215000e+06,2.238094e+06,2.418280e+06,1.284255e+06
7,LAMPUNG,192000.000000,240000.000000,310000.000000,350000.000000,377500.000000,405000.000000,505000.000000,555000.000000,6.170000e+05,...,1.399037e+06,1.581000e+06,1.763000e+06,2.074673e+06,2.241270e+06,2.432002e+06,2.432002e+06,2.440486e+06,2.633285e+06,1.284255e+06
8,KEP. BANGKA BELITUNG,190000.000000,255000.000000,345000.000000,379500.000000,447900.000000,560000.000000,640000.000000,720000.000000,8.130000e+05,...,1.640000e+06,2.100000e+06,2.341500e+06,2.755444e+06,2.976706e+06,3.230024e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
9,KEP. RIAU,300000.000000,421500.000000,289146.315789,460809.553191,460809.553191,557000.000000,760000.000000,805000.000000,8.330000e+05,...,1.665000e+06,1.954000e+06,2.178710e+06,2.563875e+06,2.769754e+06,3.005460e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
10,DKI JAKARTA,286000.000000,426300.000000,591300.000000,631600.000000,671600.000000,711843.000000,819100.000000,900560.000000,9.726040e+05,...,2.441000e+06,2.700000e+06,3.100000e+06,3.648036e+06,3.940973e+06,4.276350e+06,4.416187e+06,4.641854e+06,4.901798e+06,1.284255e+06
11,JAWA BARAT,230000.000000,245000.000000,280800.000000,320000.000000,366500.000000,408260.000000,447654.000000,516840.000000,5.681930e+05,...,1.000000e+06,1.000000e+06,2.250000e+06,1.544361e+06,1.668373e+06,1.810351e+06,1.810351e+06,1.841487e+06,1.986670e+06,1.284255e+06
12,JAWA TENGAH,185000.000000,245000.000000,314500.000000,340400.000000,365000.000000,390000.000000,450000.000000,500000.000000,5.470000e+05,...,9.100000e+05,9.100000e+05,1.987646e+06,1.486065e+06,1.605396e+06,1.742015e+06,1.798979e+06,1.812935e+06,1.958170e+06,1.284255e+06
13,DI YOGYAKARTA,194500.000000,237500.000000,321800.000000,360000.000000,365000.000000,400000.000000,460000.000000,500000.000000,5.860000e+05,...,9.885000e+05,9.885000e+05,1.987646e+06,1.454154e+06,1.570923e+06,1.704608e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
14,JAWA TIMUR,214500.000000,220000.000000,245000.000000,274000.000000,310000.000000,340000.000000,390000.000000,448500.000000,5.000000e+05,...,1.000000e+06,1.000000e+06,1.987646e+06,1.508895e+06,1.630059e+06,1.768777e+06,1.868777e+06,1.891567e+06,2.040244e+06,1.284255e+06
15,BANTEN,230000.000000,245000.000000,360000.000000,475000.000000,515000.000000,585000.000000,661613.000000,746500.000000,8.370000e+05,...,1.325000e+06,1.600000e+06,1.784000e+06,2.099385e+06,2.267990e+06,2.460997e+06,2.460997e+06,2.501203e+06,2.661280e+06,1.284255e+06
16,BALI,214000.000000,309800.000000,341000.000000,410000.000000,425000.000000,447500.000000,510000.000000,622000.000000,6.826500e+05,...,1.542600e+06,1.621172e+06,1.807600e+06,2.127157e+06,2.297969e+06,2.494000e+06,2.494000e+06,2.516971e+06,2.713672e+06,1.284255e+06
17,NUSA TENGGARA BARAT,180000.000000,240000.000000,320000.000000,375000.000000,412500.000000,475000.000000,550000.000000,645000.000000,7.300000e+05,...,1.210000e+06,1.330000e+06,1.482950e+06,1.825000e+06,2.012610e+06,2.183883e+06,2.183883e+06,2.207212e+06,2.371407e+06,1.284255e+06
18,NUSA TENGGARA TIMUR,184000.000000,275000.000000,330000.000000,350000.000000,400000.000000,450000.000000,550000.000000,600000.000000,6.500000e+05,...,1.150000e+06,1.250000e+06,1.425000e+06,1.660000e+06,1.795000e+06,1.950000e+06,1.950000e+06,1.975000e+06,2.123994e+06,1.284255e+06
19,KALIMANTAN BARAT,228000.000000,304500.000000,380000.000000,400000.000000,420000.000000,445200.000000,512000.000000,560000.000000,6.450000e+05,...,1.380000e+06,1.560000e+06,1.739400e+06,2.046900e+06,2.211500e+06,2.399699e+06,2.399699e+06,2.434328e+06,2.608602e+06,1.284255e+06
20,KALIMANTAN TENGAH,285000.000000,362000.000000,362000.000000,425000.000000,482300.000000,523698.000000,634260.000000,665973.000000,7.658680e+05,...,1.723970e+06,1.896367e+06,2.057558e+06,2.421305e+06,2.663435e+06,2.903145e+06,2.903145e+06,2.922516e+06,3.181013e+06,1.284255e+06
21,KALIMANTAN SELATAN,200000.000000,295000.000000,377500.000000,425000.000000,482200.000000,536300.000000,629000.000000,745000.000000,8.250000e+05,...,1.620000e+06,1.870000e+06,2.085050e+06,2.454671e+06,2.651782e+06,2.877449e+06,2.877449e+06,2.906473e+06,3.149978e+06,1.284255e+06
22,KALIMANTAN TIMUR,233000.000000,300000.000000,500000.000000,540000.000000,572700.000000,600000.000000,701640.000000,766500.000000,8.896540e+05,...,1.886315e+06,2.026126e+06,2.161253e+06,2.543332e+06,2.747561e+06,2.981379e+06,2.981379e+06,3.014497e+06,3.201396e+06,1.284255e+06
23,KALIMANTAN UTARA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,2.026126e+06,2.175340e+06,2.559903e+06,2.765463e+06,3.000804e+06,3.000804e+06,3.016738e+06,3.251703e+06,1.284255e+06
24,SULAWESI UTARA,186000.000000,372000.000000,438000.000000,495000.000000,545000.000000,600000.000000,713500.000000,750000.000000,8.450000e+05,...,1.900000e+06,2.150000e+06,2.400000e+06,2.824286e+06,3.051076e+06,3.310723e+06,3.310723e+06,3.310723e+06,3.485000e+06,1.284255e+06
25,SULAWESI TENGAH,203000.000000,245000.000000,350000.000000,410000.000000,450000.000000,490000.000000,575000.000000,615000.000000,6.700000e+05,...,1.250000e+06,1.500000e+06,1.670000e+06,1.965232e+06,2.123040e+06,2.303711e+06,2.303711e+06,2.390739e+06,2.599546e+06,1.284255e+06
26,SULAWESI SELATAN,200000.000000,300000.000000,375000.000000,415000.000000,455000.000000,510000.000000,612000.000000,673200.000000,7.405200e+05,...,1.800000e+06,2.000000e+06,2.250000e+06,2.647767e+06,2.860382e+06,3.103800e+06,3.165876e+06,3.165876e+06,3.385145e+06,1.284255e+06
27,SULAWESI TENGGARA,210000.000000,275000.000000,325000.000000,390000.000000,470000.000000,498600.000000,573400.000000,640000.000000,7.000000e+05,...,1.400000e+06,1.652000e+06,1.850000e+06,2.177052e+06,2.351870e+06,2.552015e+06,2.552015e+06,2.576017e+06,2.758985e+06,1.284255e+06
28,GORONTALO,186000.000000,372000.000000,375000.000000,410000.000000,430000.000000,435000.000000,527000.000000,560000.000000,6.000000e+05,...,1.325000e+06,1.600000e+06,1.875000e+06,2.206813e+06,2.384020e+06,2.788826e+06,2.788826e+06,2.800580e+06,2.989350e+06,1.284255e+06
29,SULAWESI BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,612000.000000,691464.000000,7.605000e+05,...,1.400000e+06,1.655500e+06,1.864000e+06,2.193530e+06,2.381000e+06,2.678863e+06,2.678863e+06,2.678863e+06,2.871795e+06,1.284255e+06
30,MALUKU,180000.000000,230000.000000,285000.000000,370000.000000,450000.000000,500000.000000,575000.000000,635000.000000,7.000000e+05,...,1.415000e+06,1.650000e+06,1.775000e+06,2.222220e+06,2.400664e+06,2.604961e+06,2.604961e+06,2.619313e+06,2.812828e+06,1.284255e+06
31,MALUKU UTARA,180000.000000,230000.000000,322000.000000,370000.000000,400000.000000,440000.000000,528000.000000,660000.000000,7.000000e+05,...,1.440746e+06,1.577617e+06,1.681266e+06,2.320803e+06,2.508091e+06,2.721530e+06,2.721530e+06,2.862231e+06,2.976720e+06,1.284255e+06
32,PAPUA BARAT,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,822500.000000,987000.000000,1.105500e+06,...,1.870000e+06,2.015000e+06,2.237000e+06,2.667000e+06,2.934500e+06,3.134600e+06,3.134600e+06,3.200000e+06,3.282000e+06,1.284255e+06
33,PAPUA BARAT DAYA,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
34,PAPUA,315000.000000,400000.000000,530000.000000,600000.000000,650000.000000,700000.000000,822500.000000,987000.000000,1.105500e+06,...,2.040000e+06,2.193000e+06,2.435000e+06,3.000000e+06,3.240900e+06,3.516700e+06,3.516700e+06,3.561932e+06,3.864696e+06,1.284255e+06
35,PAPUA SELATAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
36,PAPUA TENGAH,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
37,PAPUA PEGUNUNGAN,289146.315789,289146.315789,289146.315789,460809.553191,460809.553191,460809.553191,682396.284314,682396.284314,6.823963e+05,...,1.299483e+06,1.987646e+06,1.987646e+06,1.987646e+06,2.564017e+06,2.564017e+06,1.223113e+06,1.223113e+06,1.284255e+06,1.284255e+06
38,INDONESIA,216500.000000,290500.000000,362700.000000,414700.000000,458500.000000,507697.000000,602702.000000,672480.000000,7.457090e+05,...,1.584391e+06,1.790342e+06,1.997819e+06,2.268874e+06,2.455662e+06,2.672371e+06,2.687724e+06,2.725505e+06,2.923309e+06,1.284255e+06

In [219]:
df_merged.to_csv('data-cleaned/UMP_2000-2024.csv', index=False)