In [1]:
import pandas as pd
import numpy as np

# Data Inflasi

In [2]:
df = pd.read_excel('data/Data Inflasi (2000-2025).xlsx')

In [3]:
df

       Unnamed: 0     Unnamed: 1    Unnamed: 2    Unnamed: 3
0             NaN            NaN           NaN           NaN
1    Data Inflasi   Data Inflasi  Data Inflasi  Data Inflasi
2             NaN            NaN           NaN           NaN
3              No        Periode  Data Inflasi           NaN
4               1     Maret 2025        1.03 %           NaN
..            ...            ...           ...           ...
267           264     April 2003        7.62 %           NaN
268           265     Maret 2003        7.17 %           NaN
269           266  Februari 2003         7.6 %           NaN
270           267   Januari 2003        8.68 %           NaN
271           268  Desember 2002           0 %           NaN

[272 rows x 4 columns]

In [4]:
df = df.iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 0', 'Unnamed: 3'])

In [5]:
df = df.rename(columns={'Unnamed: 1': 'Tahun', 'Unnamed: 2': 'Inflation Percentage'})

In [6]:
df

             Tahun Inflation Percentage
0       Maret 2025               1.03 %
1    Februari 2025              -0.09 %
2     Januari 2025               0.76 %
3    Desember 2024               1.57 %
4    November 2024               1.55 %
..             ...                  ...
263     April 2003               7.62 %
264     Maret 2003               7.17 %
265  Februari 2003                7.6 %
266   Januari 2003               8.68 %
267  Desember 2002                  0 %

[268 rows x 2 columns]

In [7]:
# Split the Tahun column into Bulan and Tahun
df[['Bulan', 'Tahun']] = df['Tahun'].str.split(' ', expand=True)

In [8]:
df

    Tahun Inflation Percentage     Bulan
0    2025               1.03 %     Maret
1    2025              -0.09 %  Februari
2    2025               0.76 %   Januari
3    2024               1.57 %  Desember
4    2024               1.55 %  November
..    ...                  ...       ...
263  2003               7.62 %     April
264  2003               7.17 %     Maret
265  2003                7.6 %  Februari
266  2003               8.68 %   Januari
267  2002                  0 %  Desember

[268 rows x 3 columns]

In [9]:
df.to_csv('data-cleaned/inflation_data_cleaned.csv')

# data/Indeks Keparahan Kemiskinan dan Indeks Keparahan Kemiskinan Menurut Daerah

In [10]:
df_keparahan = {}

for tahun in range(2012, 2025):
    file = f"data/Indeks Keparahan Kemiskinan (P2) Menurut Provinsi dan Daerah, {tahun}.csv"
    df_parah = pd.read_csv(file)
    df_keparahan[tahun] = df_parah

In [11]:
df_keparahan[2023].head()

,38 Provinsi,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,Indeks Keparahan Kemiskinan (P2) Menurut Provi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Perkotaan,NaN,NaN,Perdesaan,NaN,NaN,Perkotaan+Perdesaan,NaN,NaN
2,NaN,2023,NaN,NaN,2023,NaN,NaN,2023,NaN,NaN
3,NaN,Semester 1 (Maret),Semester 2 (September),Tahunan,Semester 1 (Maret),Semester 2 (September),Tahunan,Semester 1 (Maret),Semester 2 (September),Tahunan
4,ACEH,0.55,-,-,0.9,-,-,0.78,-,-

In [12]:
for tahun in range(2012, 2025):
    df_keparahan[tahun] = df_keparahan[tahun].iloc[4:].reset_index(drop=True).drop(columns=['Unnamed: 3','Unnamed: 6','Unnamed: 9'])
    df_keparahan[tahun] = df_keparahan[tahun].rename(columns={'Unnamed: 1': 'Perkotaan Semester 1 (Maret)', 'Unnamed: 2': 'Perkotaan Semester 2 (September)',
                                                             'Unnamed: 4':'Perdesaan Semester 1 (Maret)', 'Unnamed: 5':'Perdesaan Semester 2 (September)',
                                                             'Unnamed: 7':'Perkotaan+Perdesaan Semester 1 (Maret)', 'Unnamed: 8':'Perkotaan+Perdesaan Semester 2 (September)'})
    df_keparahan[tahun]['Tahun'] = tahun

In [13]:
df_keparahan[2012]

,38 Provinsi,Perkotaan Semester 1 (Maret),Perkotaan Semester 2 (September),Perdesaan Semester 1 (Maret),Perdesaan Semester 2 (September),Perkotaan+Perdesaan Semester 1 (Maret),Perkotaan+Perdesaan Semester 2 (September),Tahun
0,ACEH,0.55,0.27,1.17,1.04,0.99,0.83,2012
1,SUMATERA UTARA,0.38,0.63,0.3,0.38,0.34,0.5,2012
2,SUMATERA BARAT,0.21,0.3,0.34,0.32,0.29,0.31,2012
3,RIAU,0.24,0.2,0.31,0.28,0.28,0.25,2012
4,JAMBI,0.36,0.92,0.26,0.22,0.29,0.44,2012
5,SUMATERA SELATAN,0.68,0.5,0.36,0.39,0.48,0.43,2012
6,BENGKULU,0.86,0.66,1.65,0.87,1.4,0.8,2012
7,LAMPUNG,0.34,0.3,0.56,0.73,0.51,0.62,2012
8,KEP. BANGKA BELITUNG,0.04,0.06,0.12,0.22,0.08,0.14,2012
9,KEP. RIAU,0.24,0.17,0.16,0.31,0.23,0.19,2012
10,DKI JAKARTA,0.13,0.15,-,-,0.13,0.15,2012
11,JAWA BARAT,0.36,0.35,0.52,0.54,0.41,0.42,2012
12,JAWA TENGAH,0.51,0.5,0.55,0.63,0.53,0.57,2012
13,DI YOGYAKARTA,1.32,0.58,0.79,1.09,1.14,0.75,2012
14,JAWA TIMUR,0.27,0.3,0.48,0.57,0.38,0.44,2012
15,BANTEN,0.11,0.24,0.23,0.36,0.15,0.28,2012
16,BALI,0.12,0.08,0.11,0.05,0.12,0.07,2012
17,NUSA TENGGARA BARAT,2.32,1.23,0.52,0.54,1.27,0.83,2012
18,NUSA TENGGARA TIMUR,0.48,0.81,0.9,0.93,0.82,0.91,2012
19,KALIMANTAN BARAT,0.11,0.39,0.25,0.31,0.2,0.33,2012
20,KALIMANTAN TENGAH,0.13,0.25,0.32,0.27,0.26,0.27,2012
21,KALIMANTAN SELATAN,0.08,0.1,0.16,0.23,0.13,0.17,2012
22,KALIMANTAN TIMUR,0.11,0.22,0.56,0.3,0.28,0.25,2012
23,KALIMANTAN UTARA,-,-,-,-,-,-,2012
24,SULAWESI UTARA,0.11,0.33,0.33,0.27,0.23,0.3,2012
25,SULAWESI TENGAH,0.52,0.68,0.7,0.87,0.66,0.82,2012
26,SULAWESI SELATAN,0.1,0.09,0.59,0.62,0.41,0.42,2012
27,SULAWESI TENGGARA,0.23,0.02,0.75,0.66,0.61,0.49,2012
28,GORONTALO,0.03,0.12,1.06,1.22,0.71,0.84,2012
29,SULAWESI BARAT,0.1,0.47,0.51,0.38,0.41,0.4,2012
30,MALUKU,0.42,0.46,1.91,1.81,1.36,1.31,2012
31,MALUKU UTARA,0.09,-,0.46,0.2,0.36,0.14,2012
32,PAPUA BARAT,0.34,0.15,3.63,2.37,2.65,1.71,2012
33,PAPUA BARAT DAYA,-,-,-,-,-,-,2012
34,PAPUA,0.15,0.48,3.72,3.13,2.79,2.44,2012
35,PAPUA SELATAN,-,-,-,-,-,-,2012
36,PAPUA TENGAH,-,-,-,-,-,-,2012
37,PAPUA PEGUNUNGAN,-,-,-,-,-,-,2012
38,INDONESIA,0.36,0.36,0.59,0.61,0.47,0.48,2012

In [14]:
Df_keparahan = pd.concat([df_keparahan[tahun] for tahun in range(2012, 2025)],ignore_index = True)

In [15]:
Df_keparahan

,38 Provinsi,Perkotaan Semester 1 (Maret),Perkotaan Semester 2 (September),Perdesaan Semester 1 (Maret),Perdesaan Semester 2 (September),Perkotaan+Perdesaan Semester 1 (Maret),Perkotaan+Perdesaan Semester 2 (September),Tahun
0,ACEH,0.55,0.27,1.17,1.04,0.99,0.83,2012
1,SUMATERA UTARA,0.38,0.63,0.3,0.38,0.34,0.5,2012
2,SUMATERA BARAT,0.21,0.3,0.34,0.32,0.29,0.31,2012
3,RIAU,0.24,0.2,0.31,0.28,0.28,0.25,2012
4,JAMBI,0.36,0.92,0.26,0.22,0.29,0.44,2012
...,...,...,...,...,...,...,...,...
502,PAPUA,0.28,0.62,2.71,3.51,1.25,1.76,2024
503,PAPUA SELATAN,0.1,0.03,1.65,2.34,1.08,1.49,2024
504,PAPUA TENGAH,0.23,0.21,2.36,1.87,1.84,1.46,2024
505,PAPUA PEGUNUNGAN,0.6,0.47,1.69,2.37,1.62,2.24,2024
506,INDONESIA,0.25,0.22,0.48,0.48,0.35,0.32,2024

In [16]:
Df_keparahan.replace(['...', '-'], np.nan, inplace=True)

In [17]:
provinsi = ['38 Provinsi']
kolom_numerik = [col for col in Df_keparahan.columns if col not in provinsi]

for col in kolom_numerik:
    Df_keparahan[col] = pd.to_numeric(Df_keparahan[col], errors='coerce')

In [18]:
# Mapping provinsi pemekaran ke provinsi induk
pemekaran_mapping = {
    'PAPUA SELATAN': 'PAPUA',
    'PAPUA TENGAH': 'PAPUA',
    'PAPUA PEGUNUNGAN': 'PAPUA',
    'PAPUA BARAT DAYA': 'PAPUA BARAT'
}

# Ambil semua kolom numerik selain 'Provinsi' dan 'Tahun'
kolom_numerik = Df_keparahan.columns.difference(['38 Provinsi', 'Tahun'])

# Hitung proporsi tahun 2024 dan isi data tahun 2010–2023
for prov_baru, prov_induk in pemekaran_mapping.items():
    # Data tahun 2024
    df_2024_induk = Df_keparahan[(Df_keparahan['38 Provinsi'] == prov_induk) & (Df_keparahan['Tahun'] == 2024)]
    df_2024_baru  = Df_keparahan[(Df_keparahan['38 Provinsi'] == prov_baru) & (Df_keparahan['Tahun'] == 2024)]

    if df_2024_induk.empty or df_2024_baru.empty:
        continue  # skip jika data tahun 2024 tidak lengkap

    for col in kolom_numerik:
        nilai_induk = df_2024_induk[col].values[0]
        nilai_baru = df_2024_baru[col].values[0]
        if pd.isna(nilai_induk) or nilai_induk == 0:
            continue
        rasio = nilai_baru / nilai_induk

        # Iterasi tahun sebelumnya
        for tahun in range(2010, 2024):
            nilai_induk_sebelum = Df_keparahan.loc[(Df_keparahan['38 Provinsi'] == prov_induk) & (Df_keparahan['Tahun'] == tahun), col].values
            if len(nilai_induk_sebelum) == 0:
                continue
            df.loc[(Df_keparahan['38 Provinsi'] == prov_baru) & (Df_keparahan['Tahun'] == tahun), col] = nilai_induk_sebelum[0] * rasio

In [19]:
Df_keparahan.to_csv('data-cleaned/Indeks_keparahan_cleaned.csv')

# PDRB

In [20]:
pdrb = {}

for tahun in range(2010, 2025):
    file = f"data/[SERI 2010] 1. PDRB Atas Dasar Harga Berlaku Menurut Pengeluaran, {tahun}.csv"
    df_pdrbb = pd.read_csv(file)
    pdrb[tahun] = df_pdrbb

In [21]:
pdrb[2023].head(10)

,Provinsi (PDRB),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,[SERI 2010] 1. PDRB Atas Dasar Harga Berlaku M...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Pengeluaran Konsumsi Rumah Tangga,NaN,NaN,NaN,NaN,Pengeluaran Konsumsi LNPRT,NaN,NaN,NaN,...,Net Ekspor,NaN,NaN,NaN,NaN,PDRB,NaN,NaN,NaN,NaN
2,NaN,2023,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,...,2023,NaN,NaN,NaN,NaN,2023,NaN,NaN,NaN,NaN
3,NaN,Triwulan I,Triwulan II,Triwulan III,Triwulan IV,Tahunan,Triwulan I,Triwulan II,Triwulan III,Triwulan IV,...,Triwulan I,Triwulan II,Triwulan III,Triwulan IV,Tahunan,Triwulan I,Triwulan II,Triwulan III,Triwulan IV,Tahunan
4,ACEH,29826.42,30972.85,31112.37,31257.69,123169.33,1006.95,1011.36,1010.13,1245.18,...,-992.33,-4623.07,-5307.61,-3199.53,-14122.55,53583.77,55488.07,56704.09,61242.28,227018.2
5,SUMATERA UTARA,129290.43,132354.18,133876.62,137527.15,533048.38,2161.11,2276.61,2326.83,2482.22,...,27268.59,28532.07,32515.76,28802.73,117119.15,251949.51,260363.09,267297.41,271385.4,1050995.41
6,SUMATERA BARAT,39786.33,41030.52,40638.76,41466.36,162921.97,765.73,817.8,809.57,871.37,...,7688.66,6191.05,6802.6,4869.83,25552.14,76127.05,77761.96,78328.02,80552.36,312769.38
7,RIAU,85161.93,89663.87,90055.81,93798.62,358680.24,1208.09,1366.34,1369.36,1578.33,...,77065.2,63910.48,76788.05,71345.69,289109.43,251305.95,249717.9,261230.07,264218.12,1026472.05
8,JAMBI,29948.88,31400.45,30560.46,31943.88,123853.68,382.37,419.28,422.47,476.6,...,20804.99,19731.08,22947.99,18505.72,81989.78,70496.63,73039.07,74861.2,75383.11,293780.01
9,SUMATERA SELATAN,92091.95,95350.59,95784.56,98213.92,381441.02,2109.15,2294.18,2165.6,2414.42,...,6258.49,4286.71,6900.31,-7075.69,10369.83,150516.49,158297.28,162373.7,157981.21,629168.67

In [22]:
for tahun in range(2010, 2025):
    pdrb[tahun] = pdrb[tahun].iloc[4:].reset_index(drop=True)
    pdrb[tahun] = pdrb[tahun].rename(columns={'Unnamed: 1': 'Pengeluaran Konsumsi Rumah Tangga Triwulan I', 'Unnamed: 2': 'Pengeluaran Konsumsi Rumah Tangga Triwulan II',
                                                             'Unnamed: 3':'Pengeluaran Konsumsi Rumah Tangga Triwulan III', 'Unnamed: 4':'Pengeluaran Konsumsi Rumah Tangga Triwulan IV',
                                                             'Unnamed: 5':'Pengeluaran Konsumsi Rumah Tangga Tahunan',
                                                             'Unnamed: 6':'Pengeluaran Konsumsi LNPRT Triwulan I', 'Unnamed: 7':'Pengeluaran Konsumsi LNPRT Triwulan II',
                                                             'Unnamed: 8':'Pengeluaran Konsumsi LNPRT Triwulan III', 'Unnamed: 9':'Pengeluaran Konsumsi LNPRT Triwulan IV',
                                                             'Unnamed: 10':'Pengeluaran Konsumsi LNPRT Tahunan',
                                                             'Unnamed: 11':'Pengeluaran Konsumsi Pemerintah Triwulan I', 'Unnamed: 12':'Pengeluaran Konsumsi Pemerintah Triwulan II',
                                                             'Unnamed: 13':'Pengeluaran Konsumsi Pemerintah Triwulan III', 'Unnamed: 14':'Pengeluaran Konsumsi Pemerintah Triwulan IV',
                                                             'Unnamed: 15':'Pengeluaran Konsumsi Pemerintah Tahunan',
                                                             'Unnamed: 16':'Pembentukan Modal Tetap Bruto Triwulan I','Unnamed: 17':'Pembentukan Modal Tetap Bruto Triwulan II',
                                                             'Unnamed: 18':'Pembentukan Modal Tetap Bruto Triwulan III', 'Unnamed: 19':'Pembentukan Modal Tetap Bruto Triwulan IV',
                                                             'Unnamed: 20':'Pembentukan Modal Tetap Bruto Tahunan',
                                                             'Unnamed: 21':'Perubahan Inventori Triwulan I','Unnamed: 22':'Perubahan Inventori Triwulan II',
                                                             'Unnamed: 23':'Perubahan Inventori Triwulan III','Unnamed: 24':'Perubahan Inventori Triwulan IV',
                                                             'Unnamed: 25':'Perubahan Inventori Tahunan',
                                                             'Unnamed: 26':'Net Ekspor Triwulan I','Unnamed: 27':'Net Ekspor Triwulan II',
                                                             'Unnamed: 28':'Net Ekspor Triwulan III','Unnamed: 29':'Net Ekspor Triwulan IV',
                                                             'Unnamed: 30':'Net Ekspor Tahunan',
                                                             'Unnamed: 31':'PDRB Triwulan I','Unnamed: 32':'PDRB Triwulan II',
                                                             'Unnamed: 33':'PDRB Triwulan III','Unnamed: 34':'PDRB Triwulan IV',
                                                             'Unnamed: 35':'PDRB Tahunan'
                                                             })
    pdrb[tahun]['Tahun'] = tahun

In [23]:
df_PDRB = pd.concat([pdrb[tahun] for tahun in range(2010, 2025)],ignore_index = True)

In [24]:
df_PDRB

,Provinsi (PDRB),Pengeluaran Konsumsi Rumah Tangga Triwulan I,Pengeluaran Konsumsi Rumah Tangga Triwulan II,Pengeluaran Konsumsi Rumah Tangga Triwulan III,Pengeluaran Konsumsi Rumah Tangga Triwulan IV,Pengeluaran Konsumsi Rumah Tangga Tahunan,Pengeluaran Konsumsi LNPRT Triwulan I,Pengeluaran Konsumsi LNPRT Triwulan II,Pengeluaran Konsumsi LNPRT Triwulan III,Pengeluaran Konsumsi LNPRT Triwulan IV,...,Net Ekspor Triwulan II,Net Ekspor Triwulan III,Net Ekspor Triwulan IV,Net Ekspor Tahunan,PDRB Triwulan I,PDRB Triwulan II,PDRB Triwulan III,PDRB Triwulan IV,PDRB Tahunan,Tahun
0,ACEH,13034.77,13357.87,14162.49,14883.3,55438.43,363.86,358.08,371.6,371.05,...,-264.25,-1905.94,-4628.2,-5637.69,24664.55,25128.72,25682.03,26069.93,101545.24,2010
1,SUMATERA UTARA,42076.57,43737.66,45865.82,46652.26,178332.31,902.49,939.33,992.25,1005.58,...,2044.55,-285.77,5248.62,11373.94,77932.34,79684.7,84954.62,88513.58,331085.24,2010
2,SUMATERA BARAT,14014.2,14508.36,15220.36,15678.8,59421.73,266.16,274.31,283.56,287.82,...,337.8,-223.39,-1948.24,-421.81,24792.81,25703.86,26818.69,27702.39,105017.74,2010
3,RIAU,25781.24,26351.68,27145.83,27745.3,107024.05,326.27,342.57,383.58,389.97,...,37345.88,39517.48,45898.47,156642.74,86238.49,95419.22,101044.63,105875.9,388578.23,2010
4,JAMBI,10449,11012.46,11553.36,11913.13,44927.95,101.12,108.85,112.55,117.77,...,5084.15,1672.46,1643.75,14607.24,22726.96,23620.2,21672.75,22598.5,90618.41,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,PAPUA,11458.83,11921.89,11876.86,12369.95,47627.52,1328.46,1203.07,1303.28,1308.31,...,-6384.22,-7536.75,-7689.32,-27963.63,20803.9,21435.14,21500.84,22174.45,85914.33,2024
581,PAPUA SELATAN,5986.41,6110.51,6082.07,6222.57,24401.55,116.02,103.11,111.57,111.72,...,-2692.29,-2998.46,-3164.31,-11217.6,8071.76,8270.19,8353.96,8686.94,33382.85,2024
582,PAPUA TENGAH,9177.32,9456.4,9546.65,9825.68,38006.05,230.21,203.89,207.95,220.04,...,13070.9,25451.59,18468.3,80431.84,42822,43652.77,43899.58,44568.6,174942.95,2024
583,PAPUA PEGUNUNGAN,5347.53,5525,5679.45,5731.96,22283.95,72.67,64.47,69.26,71.71,...,-3951.02,-4457.76,-4598.67,-16779.67,6359.67,6642.68,6655.54,6903.53,26561.43,2024
584,TOTAL,2911426.11,3033824.95,3008350.58,3069612.19,12023213.83,75593.13,73233.74,72944.47,77132.34,...,297074.15,324175.93,175507.19,1122086.2,5284289,5497468.09,5570899.95,5667892.37,22020549.4,2024

In [25]:
df_PDRB.replace(['...', '-'], np.nan, inplace=True)

In [26]:
df_PDRB.isnull().sum()

Provinsi (PDRB)                                    0
Pengeluaran Konsumsi Rumah Tangga Triwulan I      56
Pengeluaran Konsumsi Rumah Tangga Triwulan II     56
Pengeluaran Konsumsi Rumah Tangga Triwulan III    56
Pengeluaran Konsumsi Rumah Tangga Triwulan IV     56
Pengeluaran Konsumsi Rumah Tangga Tahunan         56
Pengeluaran Konsumsi LNPRT Triwulan I             56
Pengeluaran Konsumsi LNPRT Triwulan II            56
Pengeluaran Konsumsi LNPRT Triwulan III           56
Pengeluaran Konsumsi LNPRT Triwulan IV            56
Pengeluaran Konsumsi LNPRT Tahunan                56
Pengeluaran Konsumsi Pemerintah Triwulan I        56
Pengeluaran Konsumsi Pemerintah Triwulan II       56
Pengeluaran Konsumsi Pemerintah Triwulan III      56
Pengeluaran Konsumsi Pemerintah Triwulan IV       56
Pengeluaran Konsumsi Pemerintah Tahunan           56
Pembentukan Modal Tetap Bruto Triwulan I          56
Pembentukan Modal Tetap Bruto Triwulan II         56
Pembentukan Modal Tetap Bruto Triwulan III        56
Pembentukan Modal Tetap Bruto Triwulan IV         56
Pembentukan Modal Tetap Bruto Tahunan             56
Perubahan Inventori Triwulan I                    56
Perubahan Inventori Triwulan II                   56
Perubahan Inventori Triwulan III                  56
Perubahan Inventori Triwulan IV                   56
Perubahan Inventori Tahunan                       56
Net Ekspor Triwulan I                             56
Net Ekspor Triwulan II                            56
Net Ekspor Triwulan III                           56
Net Ekspor Triwulan IV                            56
Net Ekspor Tahunan                                56
PDRB Triwulan I                                   56
PDRB Triwulan II                                  56
PDRB Triwulan III                                 56
PDRB Triwulan IV                                  56
PDRB Tahunan                                      56
Tahun                                              0
dtype: int64

In [27]:
provinsi = ['Provinsi (PDRB)']
kolom_numerik = [col for col in df_PDRB.columns if col not in provinsi]

for col in kolom_numerik:
    df_PDRB[col] = pd.to_numeric(df_PDRB[col], errors='coerce')

In [28]:
# Mapping provinsi pemekaran ke provinsi induk
pemekaran_mapping = {
    'PAPUA SELATAN': 'PAPUA',
    'PAPUA TENGAH': 'PAPUA',
    'PAPUA PEGUNUNGAN': 'PAPUA',
    'PAPUA BARAT DAYA': 'PAPUA BARAT'
}

# Ambil semua kolom numerik selain 'Provinsi' dan 'Tahun'
kolom_numerik = df_PDRB.columns.difference(['Provinsi (PDRB)', 'Tahun'])

# Hitung proporsi tahun 2024 dan isi data tahun 2010–2023
for prov_baru, prov_induk in pemekaran_mapping.items():
    # Data tahun 2024
    df_2024_induk = df_PDRB[(df_PDRB['Provinsi (PDRB)'] == prov_induk) & (df_PDRB['Tahun'] == 2024)]
    df_2024_baru  = df_PDRB[(df_PDRB['Provinsi (PDRB)'] == prov_baru) & (df_PDRB['Tahun'] == 2024)]

    if df_2024_induk.empty or df_2024_baru.empty:
        continue  # skip jika data tahun 2024 tidak lengkap

    for col in kolom_numerik:
        nilai_induk = df_2024_induk[col].values[0]
        nilai_baru = df_2024_baru[col].values[0]
        if pd.isna(nilai_induk) or nilai_induk == 0:
            continue
        rasio = nilai_baru / nilai_induk

        # Iterasi tahun sebelumnya
        for tahun in range(2010, 2024):
            nilai_induk_sebelum = df_PDRB.loc[(df_PDRB['Provinsi (PDRB)'] == prov_induk) & (df_PDRB['Tahun'] == tahun), col].values
            if len(nilai_induk_sebelum) == 0:
                continue
            df.loc[(df_PDRB['Provinsi (PDRB)'] == prov_baru) & (df_PDRB['Tahun'] == tahun), col] = nilai_induk_sebelum[0] * rasio

In [29]:
df_PDRB.to_csv('data-cleaned/PDRB_cleaned.csv')

# Tingkat Pengangguran Terbuka Menurut Provinsi

In [30]:
dfp = {}

for tahun in range(2010, 2026):
    file = f"data/Tingkat Pengangguran Terbuka Menurut Provinsi, {tahun}.csv"
    df_pd = pd.read_csv(file)
    dfp[tahun] = df_pd

In [31]:
dfp[2020].tail(10)

         38 Provinsi Unnamed: 1 Unnamed: 2 Unnamed: 3
32    SULAWESI BARAT       2.39       3.32          -
33            MALUKU       6.71       7.57          -
34      MALUKU UTARA       4.09       5.15          -
35       PAPUA BARAT       6.78        6.8          -
36  PAPUA BARAT DAYA          -          -          -
37             PAPUA       3.42       4.28          -
38     PAPUA SELATAN          -          -          -
39      PAPUA TENGAH          -          -          -
40  PAPUA PEGUNUNGAN          -          -          -
41         INDONESIA       4.94       7.07          -

In [33]:
for tahun in range(2010, 2026):
    dfp[tahun] = dfp[tahun].iloc[4:].reset_index(drop=True).drop(columns = ['Unnamed: 3'])
    dfp[tahun] = dfp[tahun].rename(columns={'Unnamed: 1': 'Februari', 'Unnamed: 2': 'Agustus'})
    dfp[tahun]['Tahun'] = tahun

In [34]:
pengangguran = pd.concat([dfp[tahun] for tahun in range(2010, 2026)],ignore_index = True)

In [35]:
provinsi = ['38 Provinsi']
kolom_numerik = [col for col in pengangguran.columns if col not in provinsi]

for col in kolom_numerik:
    pengangguran[col] = pd.to_numeric(pengangguran[col], errors='coerce')

In [36]:
pengangguran

          38 Provinsi  Februari  Agustus  Tahun
0      SUMATERA UTARA      8.01     7.43   2010
1      SUMATERA BARAT      7.57     6.95   2010
2                RIAU      7.21     8.72   2010
3               JAMBI      4.45     5.39   2010
4    SUMATERA SELATAN      6.55     6.65   2010
..                ...       ...      ...    ...
603             PAPUA      6.92      NaN   2025
604     PAPUA SELATAN      4.90      NaN   2025
605      PAPUA TENGAH      3.55      NaN   2025
606  PAPUA PEGUNUNGAN      1.68      NaN   2025
607         INDONESIA      4.76      NaN   2025

[608 rows x 4 columns]

In [37]:
for col in pengangguran.columns:
    if col not in ['38 Provinsi', 'Tahun']:
        pengangguran[col] = pengangguran.groupby('38 Provinsi')[col].transform(lambda x: x.fillna(x.mean()))

# for col in df.columns:
#     if col not in ['Provinsi', 'Tahun']:
#         df_filled[col].fillna(df_filled[col].mean(), inplace=True)

In [38]:
pengangguran.isnull().sum()

38 Provinsi    0
Februari       0
Agustus        0
Tahun          0
dtype: int64

In [39]:
pengangguran.to_csv('data-cleaned/Tingkat_pengangguran_terbuka_cleaned.csv')